
/* ****************** 1칸 레이아웃  ****************** */

.layout_57872_ {clear:both; min-width:320px; max-width:1000px; margin:0 auto;}
.layout_57872_ > div:after {content:''; display:block; clear:both;}
.layout_57872_ > div > [class^=container_] {float:left; position:relative; width:100%; box-sizing:border-box;}

@media \0screen{
	.layout_57872_ {min-width:1000px;}
}

/* ****************** 이미지 (비율형)  ****************** */

.img_ratio_57868_ {display:inline-block; overflow:hidden; position:relative; width:100%; max-width:100%; vertical-align:top;}
.img_ratio_57868_ * {box-sizing:border-box;}
.img_ratio_57868_ a {display:block; text-decoration:none;}
.img_ratio_57868_ img {width:100%; vertical-align:top;}
@media (min-width:1024px){
	.img_ratio_57868_ {width:550px;}
}
@media \0screen{
	.img_ratio_57868_ {width:550px;}
}

/* ****************** 이미지 (비율형)  ****************** */

.img_ratio_58589_ {display:inline-block; overflow:hidden; position:relative; width:100%; max-width:100%; vertical-align:top;}
.img_ratio_58589_ * {box-sizing:border-box;}
.img_ratio_58589_ a {display:block; text-decoration:none;}
.img_ratio_58589_ img {width:100%; vertical-align:top;}
@media (min-width:1024px){
	.img_ratio_58589_ {width:1000px;}
}
@media \0screen{
	.img_ratio_58589_ {width:1000px;}
}

/* ****************** 타이틀 텍스트  ****************** */

.title_58196_ {font-size:0;}
.title_58196_ p {
	display:inline-block; position:relative; margin:0; padding:0;
	font-size:16px; letter-spacing:-1px; font-weight:bold; color:#964a3c; line-height:1.4em;
}
.title_58196_ p:before {content:''; position:absolute; background:#d00000; font-size:0;}

.title_58196_.style_top p {padding-top:10px;}
.title_58196_.style_top p:before {left:0; top:0; width:16px; height:4px;}

.title_58196_.style_right p {padding-right:14px;}
.title_58196_.style_right p:before {right:0; top:4px; width:4px; height:16px;}

.title_58196_.style_bottom p {padding-bottom:12px;}
.title_58196_.style_bottom p:before {left:0; bottom:0; width:16px; height:4px;}

.title_58196_.style_left p {padding-left:14px;}
.title_58196_.style_left p:before {left:0; top:4px; width:4px; height:16px;}

.title_58196_.style_circle1 p {padding-left:20px;}
.title_58196_.style_circle1 p:before {
	left:0; top:6px; width:12px; height:12px;
	border-radius:12px;
}

.title_58196_.style_circle2 p {padding-left:20px;}
.title_58196_.style_circle2 p:before {
	left:0; top:6px; width:12px; height:12px;
	border:2px solid #d00000; border-radius:12px; background:none; box-sizing:border-box;
}
