
/* ****************** �씠誘몄� (鍮꾩쑉�삎)  ****************** */

.img_ratio_58223_ {display:inline-block; overflow:hidden; position:relative; width:100%; max-width:100%; vertical-align:top;}
.img_ratio_58223_ * {box-sizing:border-box;}
.img_ratio_58223_ a {display:block; text-decoration:none;}
.img_ratio_58223_ img {width:100%; vertical-align:top;}
@media (min-width:1024px){
	.img_ratio_58223_ {width:550px;}
}
@media \0screen{
	.img_ratio_58223_ {width:550px;}
}

/* ****************** 1移� �젅�씠�븘�썐  ****************** */

.layout_57429_ {clear:both; min-width:320px; max-width:1000px; margin:0 auto;}
.layout_57429_ > div:after {content:''; display:block; clear:both;}
.layout_57429_ > div > [class^=container_] {float:left; position:relative; width:100%; box-sizing:border-box;}

@media \0screen{
	.layout_57429_ {min-width:1000px;}
}

/* ****************** 吏��룄 (吏곸젒�엯�젰)  ****************** */

.map_57430_ p {display:none; margin:0; padding:1em 0; font-size:13px;}

/* ****************** 怨듬갚  ****************** */

.empty_line_57431_ {display:block; width:100%; height:20px;}

/* ****************** 1移� �젅�씠�븘�썐  ****************** */

.layout_57432_ {clear:both; min-width:320px; max-width:1000px; margin:0 auto;}
.layout_57432_ > div:after {content:''; display:block; clear:both;}
.layout_57432_ > div > [class^=container_] {float:left; position:relative; width:100%; box-sizing:border-box;}

@media \0screen{
	.layout_57432_ {min-width:1000px;}
}

/* ****************** ���씠�� �뀓�뒪�듃  ****************** */

.title_57435_ {font-size:0;}
.title_57435_ p {
	display:inline-block; position:relative; margin:0; padding:0;
	font-size:24px; font-weight:bold; color:#000000; line-height:1.4em;
}
.title_57435_ p:before {content:''; position:absolute; background:#d00000; font-size:0;}

.title_57435_.style_top p {padding-top:10px;}
.title_57435_.style_top p:before {left:0; top:0; width:24px; height:4px;}

.title_57435_.style_right p {padding-right:14px;}
.title_57435_.style_right p:before {right:0; top:10px; width:4px; height:24px;}

.title_57435_.style_bottom p {padding-bottom:12px;}
.title_57435_.style_bottom p:before {left:0; bottom:0; width:24px; height:4px;}

.title_57435_.style_left p {padding-left:14px;}
.title_57435_.style_left p:before {left:0; top:10px; width:4px; height:24px;}

.title_57435_.style_circle1 p {padding-left:20px;}
.title_57435_.style_circle1 p:before {
	left:0; top:11px; width:12px; height:12px;
	border-radius:12px;
}

.title_57435_.style_circle2 p {padding-left:20px;}
.title_57435_.style_circle2 p:before {
	left:0; top:11px; width:12px; height:12px;
	border:2px solid #d00000; border-radius:12px; background:none; box-sizing:border-box;
}

/* ****************** 釉붾┸�삎 由ъ뒪�듃  ****************** */

@font-face {
	font-family: 'icomoon_contents';
	src:url('../aramfarm/design/icomoon_contents/icomoon.eot');
	src:url('/img_up/shop_pds/aramfarm/design/icomoon_contents/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/img_up/shop_pds/aramfarm/design/icomoon_contents/icomoon.woff') format('woff'),
		url('/img_up/shop_pds/aramfarm/design/icomoon_contents/icomoon.ttf') format('truetype'),
		url('/img_up/shop_pds/aramfarm/design/icomoon_contents/icomoon.svg#icomoon_contents') format('svg');
	font-weight: normal;
	font-style: normal;
}

.text_list_57433_ ul {display:table; margin:0; padding:0; list-style:none;}
.text_list_57433_ li {display:table-row; font-size:16px; line-height:1.5em;}
.text_list_57433_ span {display:table-cell; padding:5px; font-weight:normal; font-family:NanumGothic; color:#d00000; vertical-align:top;}
.text_list_57433_ span:before {content:'\e60f'; font-family:"icomoon_contents";}
.text_list_57433_ p {display:table-cell; padding:5px; font-weight:normal; color:#000000; vertical-align:middle;}

	.text_list_57433_ span {padding-right:.5em; font-size:.75em;}

/* ****************** 釉붾┸�삎 由ъ뒪�듃  ****************** */

@font-face {
	font-family: 'icomoon_contents';
	src:url('/img_up/shop_pds/aramfarm/design/icomoon_contents/icomoon.eot');
	src:url('/img_up/shop_pds/aramfarm/design/icomoon_contents/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/img_up/shop_pds/aramfarm/design/icomoon_contents/icomoon.woff') format('woff'),
		url('/img_up/shop_pds/aramfarm/design/icomoon_contents/icomoon.ttf') format('truetype'),
		url('/img_up/shop_pds/aramfarm/design/icomoon_contents/icomoon.svg#icomoon_contents') format('svg');
	font-weight: normal;
	font-style: normal;
}

.text_list_57434_ ul {display:table; margin:0; padding:0; list-style:none;}
.text_list_57434_ li {display:table-row; font-size:16px; line-height:1.5em;}
.text_list_57434_ span {display:table-cell; padding:5px; font-weight:normal; font-family:NanumGothic; color:#d00000; vertical-align:top;}
.text_list_57434_ span:before {content:'\e613'; font-family:"icomoon_contents";}
.text_list_57434_ p {display:table-cell; padding:5px; font-weight:bold; color:#000000; vertical-align:middle;}

	.text_list_57434_ span {padding-right:.5em; font-size:.75em;}
