
/* ****************** ì´ë¯¸ì§€ (ë¹„ìœ¨í˜•)  ****************** */

.img_ratio_58222_ {display:inline-block; overflow:hidden; position:relative; width:100%; max-width:100%; vertical-align:top;}
.img_ratio_58222_ * {box-sizing:border-box;}
.img_ratio_58222_ a {display:block; text-decoration:none;}
.img_ratio_58222_ img {width:100%; vertical-align:top;}
@media (min-width:1024px){
	.img_ratio_58222_ {width:550px;}
}
@media \0screen{
	.img_ratio_58222_ {width:550px;}
}

/* ****************** 2ì¹¸ ë ˆì´ì•„ì›ƒ  ****************** */

.layout_58772_ {clear:both; min-width:320px; max-width:1000px; margin:0 auto;}
.layout_58772_ > div {}
.layout_58772_ > div:after {content:''; display:block; clear:both;}
.layout_58772_ > div > [class^=container_] {float:left; position:relative; width:100%;  box-sizing:border-box;}
.layout_58772_ > div > .container_1 {width:50%;}
.layout_58772_ > div > .container_2 {width:50%;}

@media (max-width:1023px){
	.layout_58772_ > div > .container_1 { width:100%; }
	.layout_58772_ > div > .container_2 { width:100%; }
}

@media \0screen{
	.layout_58772_ {min-width:1000px;}
}

/* ****************** ì´ë¯¸ì§€ (ë¹„ìœ¨í˜•)  ****************** */

.img_ratio_58774_ {display:inline-block; overflow:hidden; position:relative; width:100%; max-width:100%; vertical-align:top;}
.img_ratio_58774_ * {box-sizing:border-box;}
.img_ratio_58774_ a {display:block; text-decoration:none;}
.img_ratio_58774_ img {width:100%; vertical-align:top;}
@media (min-width:1024px){
	.img_ratio_58774_ {width:478px;}
}
@media \0screen{
	.img_ratio_58774_ {width:478px;}
}

/* ****************** íƒ€ì´í‹€ í…ìŠ¤íŠ¸  ****************** */

.title_58775_ {font-size:0;}
.title_58775_ p {
	display:inline-block; position:relative; margin:0; padding:0;
	font-size:20px; letter-spacing:-1px; font-weight:bold; color:#333333; line-height:1.4em;
}
.title_58775_ p:before {content:''; position:absolute; background:#d00000; font-size:0;}

.title_58775_.style_top p {padding-top:10px;}
.title_58775_.style_top p:before {left:0; top:0; width:20px; height:4px;}

.title_58775_.style_right p {padding-right:14px;}
.title_58775_.style_right p:before {right:0; top:4px; width:4px; height:20px;}

.title_58775_.style_bottom p {padding-bottom:12px;}
.title_58775_.style_bottom p:before {left:0; bottom:0; width:20px; height:4px;}

.title_58775_.style_left p {padding-left:14px;}
.title_58775_.style_left p:before {left:0; top:4px; width:4px; height:20px;}

.title_58775_.style_circle1 p {padding-left:20px;}
.title_58775_.style_circle1 p:before {
	left:0; top:8px; width:12px; height:12px;
	border-radius:12px;
}

.title_58775_.style_circle2 p {padding-left:20px;}
.title_58775_.style_circle2 p:before {
	left:0; top:8px; width:12px; height:12px;
	border:2px solid #d00000; border-radius:12px; background:none; box-sizing:border-box;
}

/* ****************** íƒ€ì´í‹€ í…ìŠ¤íŠ¸  ****************** */

.title_59657_ {font-size:0;}
.title_59657_ p {
	display:inline-block; position:relative; margin:0; padding:0;
	font-size:16px; letter-spacing:-1px; font-weight:bold; color:#faa605; line-height:1.4em;
}
.title_59657_ p:before {content:''; position:absolute; background:#d00000; font-size:0;}

.title_59657_.style_top p {padding-top:10px;}
.title_59657_.style_top p:before {left:0; top:0; width:16px; height:4px;}

.title_59657_.style_right p {padding-right:14px;}
.title_59657_.style_right p:before {right:0; top:4px; width:4px; height:16px;}

.title_59657_.style_bottom p {padding-bottom:12px;}
.title_59657_.style_bottom p:before {left:0; bottom:0; width:16px; height:4px;}

.title_59657_.style_left p {padding-left:14px;}
.title_59657_.style_left p:before {left:0; top:4px; width:4px; height:16px;}

.title_59657_.style_circle1 p {padding-left:20px;}
.title_59657_.style_circle1 p:before {
	left:0; top:6px; width:12px; height:12px;
	border-radius:12px;
}

.title_59657_.style_circle2 p {padding-left:20px;}
.title_59657_.style_circle2 p:before {
	left:0; top:6px; width:12px; height:12px;
	border:2px solid #d00000; border-radius:12px; background:none; box-sizing:border-box;
}

/* ****************** íƒ€ì´í‹€ í…ìŠ¤íŠ¸  ****************** */

.title_59393_ {font-size:0;}
.title_59393_ p {
	display:inline-block; position:relative; margin:0; padding:0;
	font-size:20px; letter-spacing:-1px; font-weight:bold; color:#fa7205; line-height:1.4em;
}
.title_59393_ p:before {content:''; position:absolute; background:#d00000; font-size:0;}

.title_59393_.style_top p {padding-top:10px;}
.title_59393_.style_top p:before {left:0; top:0; width:20px; height:4px;}

.title_59393_.style_right p {padding-right:14px;}
.title_59393_.style_right p:before {right:0; top:4px; width:4px; height:20px;}

.title_59393_.style_bottom p {padding-bottom:12px;}
.title_59393_.style_bottom p:before {left:0; bottom:0; width:20px; height:4px;}

.title_59393_.style_left p {padding-left:14px;}
.title_59393_.style_left p:before {left:0; top:4px; width:4px; height:20px;}

.title_59393_.style_circle1 p {padding-left:20px;}
.title_59393_.style_circle1 p:before {
	left:0; top:8px; width:12px; height:12px;
	border-radius:12px;
}

.title_59393_.style_circle2 p {padding-left:20px;}
.title_59393_.style_circle2 p:before {
	left:0; top:8px; width:12px; height:12px;
	border:2px solid #d00000; border-radius:12px; background:none; box-sizing:border-box;
}

/* ****************** íƒ€ì´í‹€ í…ìŠ¤íŠ¸  ****************** */

.title_59658_ {font-size:0;}
.title_59658_ p {
	display:inline-block; position:relative; margin:0; padding:0;
	font-size:16px; letter-spacing:-1px; font-weight:bold; color:#333333; line-height:1.4em;
}
.title_59658_ p:before {content:''; position:absolute; background:#d00000; font-size:0;}

.title_59658_.style_top p {padding-top:10px;}
.title_59658_.style_top p:before {left:0; top:0; width:16px; height:4px;}

.title_59658_.style_right p {padding-right:14px;}
.title_59658_.style_right p:before {right:0; top:4px; width:4px; height:16px;}

.title_59658_.style_bottom p {padding-bottom:12px;}
.title_59658_.style_bottom p:before {left:0; bottom:0; width:16px; height:4px;}

.title_59658_.style_left p {padding-left:14px;}
.title_59658_.style_left p:before {left:0; top:4px; width:4px; height:16px;}

.title_59658_.style_circle1 p {padding-left:20px;}
.title_59658_.style_circle1 p:before {
	left:0; top:6px; width:12px; height:12px;
	border-radius:12px;
}

.title_59658_.style_circle2 p {padding-left:20px;}
.title_59658_.style_circle2 p:before {
	left:0; top:6px; width:12px; height:12px;
	border:2px solid #d00000; border-radius:12px; background:none; box-sizing:border-box;
}

/* ****************** ìž¥ë¬¸ í…ìŠ¤íŠ¸  ****************** */

.textarea_58778_ p {
	display:block; margin:0; padding:0;
	font-size:14px; letter-spacing:0px; font-weight:normal; color:#333333; line-height:1.7em;
}

/* ****************** íƒ€ì´í‹€ í…ìŠ¤íŠ¸  ****************** */

.title_59394_ {font-size:0;}
.title_59394_ p {
	display:inline-block; position:relative; margin:0; padding:0;
	font-size:20px; letter-spacing:-1px; font-weight:bold; color:#faa605; line-height:1.4em;
}
.title_59394_ p:before {content:''; position:absolute; background:#d00000; font-size:0;}

.title_59394_.style_top p {padding-top:10px;}
.title_59394_.style_top p:before {left:0; top:0; width:20px; height:4px;}

.title_59394_.style_right p {padding-right:14px;}
.title_59394_.style_right p:before {right:0; top:4px; width:4px; height:20px;}

.title_59394_.style_bottom p {padding-bottom:12px;}
.title_59394_.style_bottom p:before {left:0; bottom:0; width:20px; height:4px;}

.title_59394_.style_left p {padding-left:14px;}
.title_59394_.style_left p:before {left:0; top:4px; width:4px; height:20px;}

.title_59394_.style_circle1 p {padding-left:20px;}
.title_59394_.style_circle1 p:before {
	left:0; top:8px; width:12px; height:12px;
	border-radius:12px;
}

.title_59394_.style_circle2 p {padding-left:20px;}
.title_59394_.style_circle2 p:before {
	left:0; top:8px; width:12px; height:12px;
	border:2px solid #d00000; border-radius:12px; background:none; box-sizing:border-box;
}

/* ****************** íƒ€ì´í‹€ í…ìŠ¤íŠ¸  ****************** */

.title_59660_ {font-size:0;}
.title_59660_ p {
	display:inline-block; position:relative; margin:0; padding:0;
	font-size:16px; letter-spacing:-1px; font-weight:bold; color:#faa605; line-height:1.4em;
}
.title_59660_ p:before {content:''; position:absolute; background:#d00000; font-size:0;}

.title_59660_.style_top p {padding-top:10px;}
.title_59660_.style_top p:before {left:0; top:0; width:16px; height:4px;}

.title_59660_.style_right p {padding-right:14px;}
.title_59660_.style_right p:before {right:0; top:4px; width:4px; height:16px;}

.title_59660_.style_bottom p {padding-bottom:12px;}
.title_59660_.style_bottom p:before {left:0; bottom:0; width:16px; height:4px;}

.title_59660_.style_left p {padding-left:14px;}
.title_59660_.style_left p:before {left:0; top:4px; width:4px; height:16px;}

.title_59660_.style_circle1 p {padding-left:20px;}
.title_59660_.style_circle1 p:before {
	left:0; top:6px; width:12px; height:12px;
	border-radius:12px;
}

.title_59660_.style_circle2 p {padding-left:20px;}
.title_59660_.style_circle2 p:before {
	left:0; top:6px; width:12px; height:12px;
	border:2px solid #d00000; border-radius:12px; background:none; box-sizing:border-box;
}

/* ****************** HTML íŽ¸ì§‘ê¸°  ****************** */

.html_59654_ {overflow:hidden; line-height:1.7em; }
.html_59654_:after {content:''; display:block; clear:both;}

/* ****************** HTML íŽ¸ì§‘ê¸°  ****************** */

.html_59665_ {overflow:hidden; line-height:1.7em; }
.html_59665_:after {content:''; display:block; clear:both;}

/* ****************** íƒ€ì´í‹€ í…ìŠ¤íŠ¸  ****************** */

.title_59659_ {font-size:0;}
.title_59659_ p {
	display:inline-block; position:relative; margin:0; padding:0;
	font-size:20px; letter-spacing:-1px; font-weight:bold; color:#333333; line-height:1.4em;
}
.title_59659_ p:before {content:''; position:absolute; background:#d00000; font-size:0;}

.title_59659_.style_top p {padding-top:10px;}
.title_59659_.style_top p:before {left:0; top:0; width:20px; height:4px;}

.title_59659_.style_right p {padding-right:14px;}
.title_59659_.style_right p:before {right:0; top:4px; width:4px; height:20px;}

.title_59659_.style_bottom p {padding-bottom:12px;}
.title_59659_.style_bottom p:before {left:0; bottom:0; width:20px; height:4px;}

.title_59659_.style_left p {padding-left:14px;}
.title_59659_.style_left p:before {left:0; top:4px; width:4px; height:20px;}

.title_59659_.style_circle1 p {padding-left:20px;}
.title_59659_.style_circle1 p:before {
	left:0; top:8px; width:12px; height:12px;
	border-radius:12px;
}

.title_59659_.style_circle2 p {padding-left:20px;}
.title_59659_.style_circle2 p:before {
	left:0; top:8px; width:12px; height:12px;
	border:2px solid #d00000; border-radius:12px; background:none; box-sizing:border-box;
}
