
/* ****************** 이미지 (비율형)  ****************** */

.img_ratio_58209_ {display:inline-block; overflow:hidden; position:relative; width:100%; max-width:100%; vertical-align:top;}
.img_ratio_58209_ * {box-sizing:border-box;}
.img_ratio_58209_ a {display:block; text-decoration:none;}
.img_ratio_58209_ img {width:100%; vertical-align:top;}
@media (min-width:1024px){
	.img_ratio_58209_ {width:550px;}
}
@media \0screen{
	.img_ratio_58209_ {width:550px;}
}

/* ****************** 2칸 레이아웃  ****************** */

.layout_58213_ {clear:both; min-width:320px; max-width:1000px; margin:0 auto;}
.layout_58213_ > div {}
.layout_58213_ > div:after {content:''; display:block; clear:both;}
.layout_58213_ > div > [class^=container_] {float:left; position:relative; width:100%;  box-sizing:border-box;}
.layout_58213_ > div > .container_1 {width:50%;}
.layout_58213_ > div > .container_2 {width:50%;}

@media (max-width:1023px){
	.layout_58213_ > div > .container_1 { width:100%; }
	.layout_58213_ > div > .container_2 { width:100%; }
}

@media \0screen{
	.layout_58213_ {min-width:1000px;}
}

/* ****************** 표 2.0  ****************** */

.table_58214_ {width:100%; overflow-x:auto; overflow-y:visible; -webkit-overflow-scrolling:touch;}
.table_58214_ * {box-sizing:border-box;}
.table_58214_ table {width:100%; margin:0 auto; border-top:2px solid #5da02c; background:#d7d7d7; border-spacing:1px; border-collapse:separate; table-layout:auto;}
.table_58214_ td {height:50px; padding:5px 10px; background:#fff; font-size:16px; font-weight:normal; color:#333; text-align:left; text-decoration::none;}
.aa {}
 
/* ****************** 타이틀 텍스트  ****************** */

.title_59663_ {font-size:0;}
.title_59663_ p {
	display:inline-block; position:relative; margin:0; padding:0;
	font-size:16px; letter-spacing:-1px; font-weight:normal; color:#777777; line-height:1.4em;
}
.title_59663_ p:before {content:''; position:absolute; background:#d00000; font-size:0;}

.title_59663_.style_top p {padding-top:10px;}
.title_59663_.style_top p:before {left:0; top:0; width:16px; height:4px;}

.title_59663_.style_right p {padding-right:14px;}
.title_59663_.style_right p:before {right:0; top:4px; width:4px; height:16px;}

.title_59663_.style_bottom p {padding-bottom:12px;}
.title_59663_.style_bottom p:before {left:0; bottom:0; width:16px; height:4px;}

.title_59663_.style_left p {padding-left:14px;}
.title_59663_.style_left p:before {left:0; top:4px; width:4px; height:16px;}

.title_59663_.style_circle1 p {padding-left:20px;}
.title_59663_.style_circle1 p:before {
	left:0; top:6px; width:12px; height:12px;
	border-radius:12px;
}

.title_59663_.style_circle2 p {padding-left:20px;}
.title_59663_.style_circle2 p:before {
	left:0; top:6px; width:12px; height:12px;
	border:2px solid #d00000; border-radius:12px; background:none; box-sizing:border-box;
}

/* ****************** 표 2.0  ****************** */

.table_183736_ {width:100%; overflow-x:auto; overflow-y:visible; -webkit-overflow-scrolling:touch;}
.table_183736_ * {box-sizing:border-box;}
.table_183736_ table {width:100%; margin:0 auto; border-top:2px solid #5da02c; background:#d7d7d7; border-spacing:1px; border-collapse:separate; table-layout:auto;}
.table_183736_ td {height:50px; padding:5px 10px; background:#fff; font-size:16px; font-weight:normal; color:#333; text-align:left; text-decoration::none;}
.aa {}
 
/* ****************** 타이틀 텍스트  ****************** */

.title_59354_ {font-size:0;}
.title_59354_ p {
	display:inline-block; position:relative; margin:0; padding:0;
	font-size:16px; letter-spacing:-1px; font-weight:normal; color:#777777; line-height:1.4em;
}
.title_59354_ p:before {content:''; position:absolute; background:#d00000; font-size:0;}

.title_59354_.style_top p {padding-top:10px;}
.title_59354_.style_top p:before {left:0; top:0; width:16px; height:4px;}

.title_59354_.style_right p {padding-right:14px;}
.title_59354_.style_right p:before {right:0; top:4px; width:4px; height:16px;}

.title_59354_.style_bottom p {padding-bottom:12px;}
.title_59354_.style_bottom p:before {left:0; bottom:0; width:16px; height:4px;}

.title_59354_.style_left p {padding-left:14px;}
.title_59354_.style_left p:before {left:0; top:4px; width:4px; height:16px;}

.title_59354_.style_circle1 p {padding-left:20px;}
.title_59354_.style_circle1 p:before {
	left:0; top:6px; width:12px; height:12px;
	border-radius:12px;
}

.title_59354_.style_circle2 p {padding-left:20px;}
.title_59354_.style_circle2 p:before {
	left:0; top:6px; width:12px; height:12px;
	border:2px solid #d00000; border-radius:12px; background:none; box-sizing:border-box;
}

/* ****************** 표 2.0  ****************** */

.table_58208_ {width:100%; overflow-x:auto; overflow-y:visible; -webkit-overflow-scrolling:touch;}
.table_58208_ * {box-sizing:border-box;}
.table_58208_ table {width:100%; margin:0 auto; border-top:2px solid #5da02c; background:#d7d7d7; border-spacing:1px; border-collapse:separate; table-layout:auto;}
.table_58208_ td {height:50px; padding:5px 10px; background:#fff; font-size:16px; font-weight:normal; color:#333; text-align:left; text-decoration::none;}
.aa {}
 
/* ****************** 표 2.0  ****************** */

.table_183737_ {width:100%; overflow-x:auto; overflow-y:visible; -webkit-overflow-scrolling:touch;}
.table_183737_ * {box-sizing:border-box;}
.table_183737_ table {width:100%; margin:0 auto; border-top:2px solid #5da02c; background:#d7d7d7; border-spacing:1px; border-collapse:separate; table-layout:auto;}
.table_183737_ td {height:50px; padding:5px 10px; background:#fff; font-size:16px; font-weight:normal; color:#333; text-align:left; text-decoration::none;}
.aa {}
 
/* ****************** 1칸 레이아웃  ****************** */

.layout_58206_ {clear:both; min-width:320px; max-width:1000px; margin:0 auto;}
.layout_58206_ > div:after {content:''; display:block; clear:both;}
.layout_58206_ > div > [class^=container_] {float:left; position:relative; width:100%; box-sizing:border-box;}

@media \0screen{
	.layout_58206_ {min-width:1000px;}
}

/* ****************** 타이틀 텍스트  ****************** */

.title_58215_ {font-size:0;}
.title_58215_ p {
	display:inline-block; position:relative; margin:0; padding:0;
	font-size:20px; letter-spacing:-1px; font-weight:bold; color:#964a3c; line-height:1.4em;
}
.title_58215_ p:before {content:''; position:absolute; background:#d00000; font-size:0;}

.title_58215_.style_top p {padding-top:10px;}
.title_58215_.style_top p:before {left:0; top:0; width:20px; height:4px;}

.title_58215_.style_right p {padding-right:14px;}
.title_58215_.style_right p:before {right:0; top:4px; width:4px; height:20px;}

.title_58215_.style_bottom p {padding-bottom:12px;}
.title_58215_.style_bottom p:before {left:0; bottom:0; width:20px; height:4px;}

.title_58215_.style_left p {padding-left:14px;}
.title_58215_.style_left p:before {left:0; top:4px; width:4px; height:20px;}

.title_58215_.style_circle1 p {padding-left:20px;}
.title_58215_.style_circle1 p:before {
	left:0; top:8px; width:12px; height:12px;
	border-radius:12px;
}

.title_58215_.style_circle2 p {padding-left:20px;}
.title_58215_.style_circle2 p:before {
	left:0; top:8px; width:12px; height:12px;
	border:2px solid #d00000; border-radius:12px; background:none; box-sizing:border-box;
}

/* ****************** 타이틀 텍스트  ****************** */

.title_58221_ {font-size:0;}
.title_58221_ p {
	display:inline-block; position:relative; margin:0; padding:0;
	font-size:16px; letter-spacing:-1px; font-weight:bold; color:#964a3c; line-height:1.4em;
}
.title_58221_ p:before {content:''; position:absolute; background:#d00000; font-size:0;}

.title_58221_.style_top p {padding-top:10px;}
.title_58221_.style_top p:before {left:0; top:0; width:16px; height:4px;}

.title_58221_.style_right p {padding-right:14px;}
.title_58221_.style_right p:before {right:0; top:4px; width:4px; height:16px;}

.title_58221_.style_bottom p {padding-bottom:12px;}
.title_58221_.style_bottom p:before {left:0; bottom:0; width:16px; height:4px;}

.title_58221_.style_left p {padding-left:14px;}
.title_58221_.style_left p:before {left:0; top:4px; width:4px; height:16px;}

.title_58221_.style_circle1 p {padding-left:20px;}
.title_58221_.style_circle1 p:before {
	left:0; top:6px; width:12px; height:12px;
	border-radius:12px;
}

.title_58221_.style_circle2 p {padding-left:20px;}
.title_58221_.style_circle2 p:before {
	left:0; top:6px; width:12px; height:12px;
	border:2px solid #d00000; border-radius:12px; background:none; box-sizing:border-box;
}

/* ****************** HTML 편집기  ****************** */

.html_59662_ {overflow:hidden;}
.html_59662_:after {content:''; display:block; clear:both;}
