
/* ****************** 諛곕꼫愿�由� - �씠誘몄� �뒳�씪�씠�뱶 (�솗�옣�삎)  ****************** */

@font-face {
	font-family: 'icomoon_slider';
	src: url('/img_up/shop_pds/aramfarm/design/icomoon_slider/icomoon.eot');
	src: url('/img_up/shop_pds/aramfarm/design/icomoon_slider/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/img_up/shop_pds/aramfarm/design/icomoon_slider/icomoon.woff') format('woff'),
		url('/img_up/shop_pds/aramfarm/design/icomoon_slider/icomoon.ttf') format('truetype'),
		url('/img_up/shop_pds/aramfarm/design/icomoon_slider/icomoon.svg#icomoon_slider') format('svg');
	font-weight: normal;
	font-style: normal;
}

#owl__57297_ { margin:0 auto; }
#owl__57297_ a {border:none; text-decoration:none;}
#owl__57297_ a img {border:none; }
#owl__57297_ .owl-item {}
#owl__57297_ .item {position:relative;}
#owl__57297_ .item .caption {position:absolute; left:0; right:0; top:80%; bottom:0; background:#333; background:rgba(0,0,0,0.5);}
#owl__57297_ .item .caption span {
	display:block; position:absolute; top:50%; left:0; right:0; height:20px; line-height:20px; margin-top:-10px; padding:0 10px;
	box-sizing:border-box; font-size:14px; color:#fff; text-align:center; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;
}

#owl__57297_ .owl-controls {-webkit-tap-highlight-color:transparent;}
#owl__57297_ .owl-controls .owl-nav [class*='owl-'] {
	position:absolute; top:50%; z-index:2; width:40px; height:40px; line-height:40px; margin-top:-20px;
	font-size:0; cursor:pointer; opacity:0.7;
}
#owl__57297_ .owl-controls .owl-nav [class*='owl-']:before{font-family:'icomoon_slider'; font-size:40px; font-weight:bold; color:#fff;}
#owl__57297_ .owl-controls .owl-nav [class*='owl-']:hover {opacity:1;}
#owl__57297_ .owl-controls .owl-nav .owl-prev {left:5px;}
#owl__57297_ .owl-controls .owl-nav .owl-next {right:5px;}
#owl__57297_ .owl-controls .owl-nav .owl-prev:before {content:'\e600';}
#owl__57297_ .owl-controls .owl-nav .owl-next:before {content:'\e601';}
#owl__57297_ .owl-controls .owl-nav .disabled {opacity:0.5; cursor:default;}

#owl__57297_ .owl-dots {position:absolute; left:0; width:100%; height:30px; padding:10px; font-size:0; box-sizing:border-box; text-align:center; bottom:-5px;}
#owl__57297_ .owl-dots .owl-dot {display:inline-block; zoom:1; *display:inline;}
#owl__57297_ .owl-dots .owl-dot span {
	display:block;width:10px; height:10px; margin:0 4px;
	background:#d6d6d6; border-radius:30px;
	-webkit-backface-visibility:visible;
	-webkit-transition:opacity 200ms ease;
	-moz-transition:opacity 200ms ease;
	-ms-transition:opacity 200ms ease;
	-o-transition:opacity 200ms ease;
	transition:opacity 200ms ease;
}
#owl__57297_ .owl-dots .owl-dot.active span,
#owl__57297_ .owl-dots .owl-dot:hover span {background:#09e48f;}

/* ****************** �씠誘몄�  ****************** */

.img_183800_ {display:inline-block; overflow:hidden; position:relative; width:px; max-width:100%; vertical-align:top;}
.img_183800_ * {box-sizing:border-box;}
.img_183800_ a {display:block; text-decoration:none;}
.img_183800_ img {max-width:100%; vertical-align:top;}

/* ****************** 怨듬갚  ****************** */

.empty_line_57634_ {display:block; width:100%; height:20px; line-height:20px;}

[id^=div_user_list] .empty_line_57634_ {border:1px dotted #f00;}
[id^=div_user_list] .empty_line_57634_:before {content:'怨듬갚 : 20px'; padding:0 15px; font-size:13px; font-weight:normal; color:#f00;}

/* ****************** 2移� �젅�씠�븘�썐  ****************** */

.layout_57628_ {clear:both; min-width:320px; max-width:1200px; margin:0 auto;}
.layout_57628_ > div {}
.layout_57628_ > div:after {content:''; display:block; clear:both;}
.layout_57628_ > div > [class^=container_] {float:left; position:relative; width:100%;  box-sizing:border-box;}
.layout_57628_ > div > .container_1 {width:80%;}
.layout_57628_ > div > .container_2 {width:20%;}

@media (max-width:1023px){
	.layout_57628_ > div > .container_1 { width:100%; }
	.layout_57628_ > div > .container_2 { width:100%; }
}

@media \0screen{
	.layout_57628_ {min-width:1200px;}
}

/* ****************** ���씠�� �뀓�뒪�듃  ****************** */

.title_57630_ {font-size:0;}
.title_57630_ p {
	display:inline-block; position:relative; margin:0; padding:0;
	font-size:16px; letter-spacing:-1px; font-weight:normal; color:#ffffff; line-height:1.4em;
}
.title_57630_ p:before {content:''; position:absolute; background:#d00000; font-size:0;}

.title_57630_.style_top p {padding-top:10px;}
.title_57630_.style_top p:before {left:0; top:0; width:16px; height:4px;}

.title_57630_.style_right p {padding-right:14px;}
.title_57630_.style_right p:before {right:0; top:4px; width:4px; height:16px;}

.title_57630_.style_bottom p {padding-bottom:12px;}
.title_57630_.style_bottom p:before {left:0; bottom:0; width:16px; height:4px;}

.title_57630_.style_left p {padding-left:14px;}
.title_57630_.style_left p:before {left:0; top:4px; width:4px; height:16px;}

.title_57630_.style_circle1 p {padding-left:20px;}
.title_57630_.style_circle1 p:before {
	left:0; top:6px; width:12px; height:12px;
	border-radius:12px;
}

.title_57630_.style_circle2 p {padding-left:20px;}
.title_57630_.style_circle2 p:before {
	left:0; top:6px; width:12px; height:12px;
	border:2px solid #d00000; border-radius:12px; background:none; box-sizing:border-box;
}

/* ****************** 怨듬갚  ****************** */

.empty_line_57311_ {display:block; width:100%; height:5px; line-height:5px;}

[id^=div_user_list] .empty_line_57311_ {border:1px dotted #f00;}
[id^=div_user_list] .empty_line_57311_:before {content:'怨듬갚 : 5px'; padding:0 15px; font-size:13px; font-weight:normal; color:#f00;}

/* ****************** 怨듬갚  ****************** */

.empty_line_183842_ {display:block; width:100%; height:10px; line-height:10px;}

[id^=div_user_list] .empty_line_183842_ {border:1px dotted #f00;}
[id^=div_user_list] .empty_line_183842_:before {content:'怨듬갚 : 10px'; padding:0 15px; font-size:13px; font-weight:normal; color:#f00;}

/* ****************** 諛붾몣�뙋�삎�깭 �씠誘몄�異쒕젰(諛섏쓳�삎)  ****************** */

.pm-banner_responsive__57627_ {overflow:hidden;}
.pm-banner_responsive__57627_ * {box-sizing:border-box;}
.pm-banner_responsive__57627_ ul {
	margin:0; padding:0; list-style:none;
	margin-top:-px; margin-left:-px;
}
.pm-banner_responsive__57627_ ul:after {content:''; display:block; clear:both;}
.pm-banner_responsive__57627_ li {float:left; width:100%; padding-top:px; padding-left:px;}
.pm-banner_responsive__57627_ li.clear {clear:both;}
.pm-banner_responsive__57627_ li a {display:block; color:#333; text-align:center; text-decoration:none;}
.pm-banner_responsive__57627_ li img {display:block; max-width:100%; margin:0 auto;}
.pm-banner_responsive__57627_ .empty {width:100%; padding:10px 0; color:#666; font-size:14px; text-align:center;}

@media (max-width:767px){
	.pm-banner_responsive__57627_ li {width:50%;}
	.pm-banner_responsive__57627_ li.m_clear {clear:both;}
}
@media (min-width:768px) and (max-width:1023px){
	.pm-banner_responsive__57627_ li {width:33.333333333333%;}
	.pm-banner_responsive__57627_ li.t_clear {clear:both;}
}
@media (min-width:1024px){
	.pm-banner_responsive__57627_ li {width:14.285714285714%;}
	.pm-banner_responsive__57627_ li.p_clear {clear:both;}
}
@media \0screen{
	.pm-banner_responsive__57627_ li {width:14.285714285714%;}
	.pm-banner_responsive__57627_ li.p_clear {clear:both;}
}

/* ****************** �씠誘몄� (鍮꾩쑉�삎)  ****************** */

.img_ratio_57629_ {display:inline-block; overflow:hidden; position:relative; width:100%; max-width:100%; vertical-align:top;}
.img_ratio_57629_ * {box-sizing:border-box;}
.img_ratio_57629_ a {display:block; text-decoration:none;}
.img_ratio_57629_ img {width:100%; vertical-align:top;}
@media (min-width:1024px){
	.img_ratio_57629_ {width:240px;}
}
@media \0screen{
	.img_ratio_57629_ {width:240px;}
}

/* ****************** 怨듬갚  ****************** */

.empty_line_183844_ {display:block; width:100%; height:20px; line-height:20px;}

[id^=div_user_list] .empty_line_183844_ {border:1px dotted #f00;}
[id^=div_user_list] .empty_line_183844_:before {content:'怨듬갚 : 20px'; padding:0 15px; font-size:13px; font-weight:normal; color:#f00;}

/* ****************** 3移� �젅�씠�븘�썐  ****************** */

.layout_57632_ {clear:both; min-width:320px; max-width:1200px; margin:0 auto;}
.layout_57632_ > div {}
.layout_57632_ > div:after {content:''; display:block; clear:both;}
.layout_57632_ > div > [class^=container_] {float:left; position:relative; width:100%;  box-sizing:border-box;}
.layout_57632_ > div > .container_1 {width:33.333333333333%;}
.layout_57632_ > div > .container_2 {width:33.333333333333%;}
.layout_57632_ > div > .container_3 {width:33.333333333333%;}

@media (max-width:1023px){
	.layout_57632_ > div > .container_1 { width:100%; }
	.layout_57632_ > div > .container_2 { width:100%; }
	.layout_57632_ > div > .container_3 { width:100%; }
}

@media \0screen{
	.layout_57632_ {min-width:1200px;}
}

/* ****************** �씠誘몄� (鍮꾩쑉�삎)  ****************** */

.img_ratio_57633_ {display:inline-block; overflow:hidden; position:relative; width:100%; max-width:100%; vertical-align:top;}
.img_ratio_57633_ * {box-sizing:border-box;}
.img_ratio_57633_ a {display:block; text-decoration:none;}
.img_ratio_57633_ img {width:100%; vertical-align:top;}
@media (min-width:1024px){
	.img_ratio_57633_ {width:370px;}
}
@media \0screen{
	.img_ratio_57633_ {width:370px;}
}

/* ****************** �씠誘몄� (鍮꾩쑉�삎)  ****************** */

.img_ratio_57638_ {display:inline-block; overflow:hidden; position:relative; width:100%; max-width:100%; vertical-align:top;}
.img_ratio_57638_ * {box-sizing:border-box;}
.img_ratio_57638_ a {display:block; text-decoration:none;}
.img_ratio_57638_ img {width:100%; vertical-align:top;}
@media (min-width:1024px){
	.img_ratio_57638_ {width:370px;}
}
@media \0screen{
	.img_ratio_57638_ {width:370px;}
}

/* ****************** 理쒓렐 寃뚯떆湲� �꺆 - �쎒吏� + 紐⑸줉�삎 (諛섏쓳�삎)  ****************** */

.pm-board_tab_webzine_list__57631_ {display:block;}
.pm-board_tab_webzine_list__57631_ .tab-wrap {width:100%; overflow-x:auto; overflow-y:visible; -webkit-overflow-scrolling:touch;}

.pm-board_tab_webzine_list__57631_ .tab-btn {display:table; width:100%; margin:0; padding:0; list-style-type:none;}
.pm-board_tab_webzine_list__57631_ .tab-btn > li {display:table-cell;}
.pm-board_tab_webzine_list__57631_ .tab-btn > li > a {
	display:block; padding:11px 8px;
	border:1px solid #4a4a4a; border-left:none; background:#fff;
	font-size:13px; font-weight:bold; color:#3E3A39; text-align:center; text-decoration:none; white-space:nowrap; /*�꺆愿��젴�깋�긽*/
}
.pm-board_tab_webzine_list__57631_ .tab-btn > li.on > a,
.pm-board_tab_webzine_list__57631_ .tab-btn > li:hover > a {
	padding:10px 8px 12px;border-top:2px solid #3E3A39; border-bottom:none; background:#3E3A39; color:#fff; /*�꺆愿��젴�깋�긽-�삤踰꾩떆*/
}
.pm-board_tab_webzine_list__57631_ .tab-btn > li:first-child > a {border-left:1px solid #4a4a4a;}

.pm-board_tab_webzine_list__57631_ .tab-btn.tab_col2 > li {width:50%;}
.pm-board_tab_webzine_list__57631_ .tab-btn.tab_col3 > li {width:33.3333%;}
.pm-board_tab_webzine_list__57631_ .tab-btn.tab_col4 > li {width:25%;}
.pm-board_tab_webzine_list__57631_ .tab-btn.tab_col5 > li {width:20%;}
.pm-board_tab_webzine_list__57631_ .tab-btn.tab_col6 > li {width:16.6666%;}

.pm-board_tab_webzine_list__57631_ .tab-cont {display:none; padding:5px 1px;}
.pm-board_tab_webzine_list__57631_ .tab-cont.on {display:block;}
.pm-board_tab_webzine_list__57631_ .tab-cont * {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.pm-board_tab_webzine_list__57631_ .tab-cont ul {margin:0; padding:0; list-style:none;}
.pm-board_tab_webzine_list__57631_ .tab-cont li { border-bottom:1px solid #ccc; font-size:13px;}
/* .pm-board_tab_webzine_list__57631_ .tab-cont li:first-child {border-top:1px solid #ccc; }*/
.pm-board_tab_webzine_list__57631_ .tab-cont a {display:block; position:relative; padding:7px 10px; text-decoration:none; font-size:13px; color:#3E3A39;}
.pm-board_tab_webzine_list__57631_ .tab-cont a:after {content:''; display:block; clear:both;}
.pm-board_tab_webzine_list__57631_ .tab-cont .thumnail {display:block; float:left; padding:0 10px 5px 0;}
.pm-board_tab_webzine_list__57631_ .title {font-size:13px;}
.pm-board_tab_webzine_list__57631_ .date {font-size:12px; font-family:Arial; color:#888;}
.pm-board_tab_webzine_list__57631_ .webzine .title {font-size:14px; font-weight:bold; color:#3E3A39;} /*泥ル쾲吏� 寃뚯떆湲�*/
.pm-board_tab_webzine_list__57631_ .webzine .date {margin:3px 0 8px;}
.pm-board_tab_webzine_list__57631_ .list .title {padding-right:80px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.pm-board_tab_webzine_list__57631_ .list .date {position:absolute; right:10px; top:12px; margin:0; font-size:12px; font-family:Arial; color:#888;}
.pm-board_tab_webzine_list__57631_ .tab-cont .body {line-height:16px; color:#555; text-overflow:ellipsis; }
.pm-board_tab_webzine_list__57631_ .tab-cont .comment {font-weight:normal; color:#888;}
.pm-board_tab_webzine_list__57631_ .tab-cont .empty {padding:5px 8px; font-size:14px; color:#666; text-align:center; }

/* ****************** 怨듬갚  ****************** */

.empty_line_57299_ {display:block; width:100%; height:40px; line-height:40px;}

[id^=div_user_list] .empty_line_57299_ {border:1px dotted #f00;}
[id^=div_user_list] .empty_line_57299_:before {content:'怨듬갚 : 40px'; padding:0 15px; font-size:13px; font-weight:normal; color:#f00;}

/* ****************** 1移� �젅�씠�븘�썐  ****************** */

.layout_57665_ {clear:both; min-width:320px; max-width:1000px; margin:0 auto;}
.layout_57665_ > div:after {content:''; display:block; clear:both;}
.layout_57665_ > div > [class^=container_] {float:left; position:relative; width:100%; box-sizing:border-box;}

@media \0screen{
	.layout_57665_ {min-width:1000px;}
}

/* ****************** ���씠�� �뀓�뒪�듃  ****************** */

.title_57666_ {font-size:0;}
.title_57666_ p {
	display:inline-block; position:relative; margin:0; padding:0;
	font-size:20px; letter-spacing:-1px; font-weight:bold; color:#ffffff; line-height:1.4em;
}
.title_57666_ p:before {content:''; position:absolute; background:#d00000; font-size:0;}

.title_57666_.style_top p {padding-top:10px;}
.title_57666_.style_top p:before {left:0; top:0; width:20px; height:4px;}

.title_57666_.style_right p {padding-right:14px;}
.title_57666_.style_right p:before {right:0; top:4px; width:4px; height:20px;}

.title_57666_.style_bottom p {padding-bottom:12px;}
.title_57666_.style_bottom p:before {left:0; bottom:0; width:20px; height:4px;}

.title_57666_.style_left p {padding-left:14px;}
.title_57666_.style_left p:before {left:0; top:4px; width:4px; height:20px;}

.title_57666_.style_circle1 p {padding-left:20px;}
.title_57666_.style_circle1 p:before {
	left:0; top:8px; width:12px; height:12px;
	border-radius:12px;
}

.title_57666_.style_circle2 p {padding-left:20px;}
.title_57666_.style_circle2 p:before {
	left:0; top:8px; width:12px; height:12px;
	border:2px solid #d00000; border-radius:12px; background:none; box-sizing:border-box;
}

/* ****************** �씠誘몄� (鍮꾩쑉�삎)  ****************** */

.img_ratio_57646_ {display:inline-block; overflow:hidden; position:relative; width:100%; max-width:100%; vertical-align:top;}
.img_ratio_57646_ * {box-sizing:border-box;}
.img_ratio_57646_ a {display:block; text-decoration:none;}
.img_ratio_57646_ img {width:100%; vertical-align:top;}
@media (min-width:1024px){
	.img_ratio_57646_ {width:640px;}
}
@media \0screen{
	.img_ratio_57646_ {width:640px;}
}

/* ****************** 怨듬갚  ****************** */

.empty_line_183820_ {display:block; width:100%; height:10px; line-height:10px;}

[id^=div_user_list] .empty_line_183820_ {border:1px dotted #f00;}
[id^=div_user_list] .empty_line_183820_:before {content:'怨듬갚 : 10px'; padding:0 15px; font-size:13px; font-weight:normal; color:#f00;}

/* ****************** 6移� �젅�씠�븘�썐  ****************** */

.layout_183818_ {clear:both; min-width:320px; max-width:1000px; margin:0 auto;}
.layout_183818_ > div {margin-left:-10px;}
.layout_183818_ > div:after {content:''; display:block; clear:both;}
.layout_183818_ > div > [class^=container_] {float:left; position:relative; width:100%; padding-left:10px; box-sizing:border-box;}
.layout_183818_ > div > .container_1 {width:16.666666666667%;}
.layout_183818_ > div > .container_2 {width:16.666666666667%;}
.layout_183818_ > div > .container_3 {width:16.666666666667%;}
.layout_183818_ > div > .container_4 {width:16.666666666667%;}
.layout_183818_ > div > .container_5 {width:16.666666666667%;}
.layout_183818_ > div > .container_6 {width:16.666666666667%;}

@media (max-width:1023px){
	.layout_183818_ > div > .container_1 { width:50%; }
	.layout_183818_ > div > .container_2 { width:50%; }
	.layout_183818_ > div > .container_3 {clear:both; width:50%; padding-top:10px;}
	.layout_183818_ > div > .container_4 { width:50%; padding-top:10px;}
	.layout_183818_ > div > .container_5 {clear:both; width:50%; padding-top:10px;}
	.layout_183818_ > div > .container_6 { width:50%; padding-top:10px;}
}

@media \0screen{
	.layout_183818_ {min-width:1000px;}
}

/* ****************** �씠誘몄� (鍮꾩쑉�삎)  ****************** */

.img_ratio_57647_ {display:inline-block; overflow:hidden; position:relative; width:100%; max-width:100%; vertical-align:top;}
.img_ratio_57647_ * {box-sizing:border-box;}
.img_ratio_57647_ a {display:block; text-decoration:none;}
.img_ratio_57647_ img {width:100%; vertical-align:top;}
@media (min-width:1024px){
	.img_ratio_57647_ {width:320px;}
}
@media \0screen{
	.img_ratio_57647_ {width:320px;}
}

/* ****************** �씠誘몄� (鍮꾩쑉�삎)  ****************** */

.img_ratio_57663_ {display:inline-block; overflow:hidden; position:relative; width:100%; max-width:100%; vertical-align:top;}
.img_ratio_57663_ * {box-sizing:border-box;}
.img_ratio_57663_ a {display:block; text-decoration:none;}
.img_ratio_57663_ img {width:100%; vertical-align:top;}
@media (min-width:1024px){
	.img_ratio_57663_ {width:320px;}
}
@media \0screen{
	.img_ratio_57663_ {width:320px;}
}

/* ****************** �씠誘몄� (鍮꾩쑉�삎)  ****************** */

.img_ratio_57667_ {display:inline-block; overflow:hidden; position:relative; width:100%; max-width:100%; vertical-align:top;}
.img_ratio_57667_ * {box-sizing:border-box;}
.img_ratio_57667_ a {display:block; text-decoration:none;}
.img_ratio_57667_ img {width:100%; vertical-align:top;}
@media (min-width:1024px){
	.img_ratio_57667_ {width:320px;}
}
@media \0screen{
	.img_ratio_57667_ {width:320px;}
}

/* ****************** �씠誘몄� (鍮꾩쑉�삎)  ****************** */

.img_ratio_57664_ {display:inline-block; overflow:hidden; position:relative; width:100%; max-width:100%; vertical-align:top;}
.img_ratio_57664_ * {box-sizing:border-box;}
.img_ratio_57664_ a {display:block; text-decoration:none;}
.img_ratio_57664_ img {width:100%; vertical-align:top;}
@media (min-width:1024px){
	.img_ratio_57664_ {width:190px;}
}
@media \0screen{
	.img_ratio_57664_ {width:190px;}
}

/* ****************** �씠誘몄� (鍮꾩쑉�삎)  ****************** */

.img_ratio_57676_ {display:inline-block; overflow:hidden; position:relative; width:100%; max-width:100%; vertical-align:top;}
.img_ratio_57676_ * {box-sizing:border-box;}
.img_ratio_57676_ a {display:block; text-decoration:none;}
.img_ratio_57676_ img {width:100%; vertical-align:top;}
@media (min-width:1024px){
	.img_ratio_57676_ {width:320px;}
}
@media \0screen{
	.img_ratio_57676_ {width:320px;}
}

/* ****************** �씠誘몄� (鍮꾩쑉�삎)  ****************** */

.img_ratio_57674_ {display:inline-block; overflow:hidden; position:relative; width:100%; max-width:100%; vertical-align:top;}
.img_ratio_57674_ * {box-sizing:border-box;}
.img_ratio_57674_ a {display:block; text-decoration:none;}
.img_ratio_57674_ img {width:100%; vertical-align:top;}
@media (min-width:1024px){
	.img_ratio_57674_ {width:320px;}
}
@media \0screen{
	.img_ratio_57674_ {width:320px;}
}

/* ****************** 1移� �젅�씠�븘�썐  ****************** */

.layout_57680_ {clear:both; min-width:320px; max-width:1000px; margin:0 auto;}
.layout_57680_ > div:after {content:''; display:block; clear:both;}
.layout_57680_ > div > [class^=container_] {float:left; position:relative; width:100%; box-sizing:border-box;}

@media \0screen{
	.layout_57680_ {min-width:1000px;}
}

/* ****************** 怨듬갚  ****************** */

.empty_line_183821_ {display:block; width:100%; height:10px; line-height:10px;}

[id^=div_user_list] .empty_line_183821_ {border:1px dotted #f00;}
[id^=div_user_list] .empty_line_183821_:before {content:'怨듬갚 : 10px'; padding:0 15px; font-size:13px; font-weight:normal; color:#f00;}

/* ****************** �씠誘몄� (鍮꾩쑉�삎)  ****************** */

.img_ratio_57677_ {display:inline-block; overflow:hidden; position:relative; width:100%; max-width:100%; vertical-align:top;}
.img_ratio_57677_ * {box-sizing:border-box;}
.img_ratio_57677_ a {display:block; text-decoration:none;}
.img_ratio_57677_ img {width:100%; vertical-align:top;}
@media (min-width:1024px){
	.img_ratio_57677_ {width:640px;}
}
@media \0screen{
	.img_ratio_57677_ {width:640px;}
}

/* ****************** 怨듬갚  ****************** */

.empty_line_57317_ {display:block; width:100%; height:10px; line-height:10px;}

[id^=div_user_list] .empty_line_57317_ {border:1px dotted #f00;}
[id^=div_user_list] .empty_line_57317_:before {content:'怨듬갚 : 10px'; padding:0 15px; font-size:13px; font-weight:normal; color:#f00;}

/* ****************** �씠誘몄� (鍮꾩쑉�삎)  ****************** */

.img_ratio_57678_ {display:inline-block; overflow:hidden; position:relative; width:100%; max-width:100%; vertical-align:top;}
.img_ratio_57678_ * {box-sizing:border-box;}
.img_ratio_57678_ a {display:block; text-decoration:none;}
.img_ratio_57678_ img {width:100%; vertical-align:top;}
@media (min-width:1024px){
	.img_ratio_57678_ {width:370px;}
}
@media \0screen{
	.img_ratio_57678_ {width:370px;}
}

/* ****************** 怨듬갚  ****************** */

.empty_line_57682_ {display:block; width:100%; height:10px; line-height:10px;}

[id^=div_user_list] .empty_line_57682_ {border:1px dotted #f00;}
[id^=div_user_list] .empty_line_57682_:before {content:'怨듬갚 : 10px'; padding:0 15px; font-size:13px; font-weight:normal; color:#f00;}

/* ****************** �씠誘몄� (鍮꾩쑉�삎)  ****************** */

.img_ratio_57681_ {display:inline-block; overflow:hidden; position:relative; width:100%; max-width:100%; vertical-align:top;}
.img_ratio_57681_ * {box-sizing:border-box;}
.img_ratio_57681_ a {display:block; text-decoration:none;}
.img_ratio_57681_ img {width:100%; vertical-align:top;}
@media (min-width:1024px){
	.img_ratio_57681_ {width:370px;}
}
@media \0screen{
	.img_ratio_57681_ {width:370px;}
}

/* ****************** 1移� �젅�씠�븘�썐  ****************** */

.layout_183819_ {clear:both; min-width:320px; max-width:1000px; margin:0 auto;}
.layout_183819_ > div:after {content:''; display:block; clear:both;}
.layout_183819_ > div > [class^=container_] {float:left; position:relative; width:100%; box-sizing:border-box;}

@media \0screen{
	.layout_183819_ {min-width:1000px;}
}

/* ****************** 理쒓렐 寃뚯떆湲� �꺆 - �쎒吏� + 紐⑸줉�삎 (諛섏쓳�삎)  ****************** */

.pm-board_tab_webzine_list__58595_ {display:block;}
.pm-board_tab_webzine_list__58595_ .tab-wrap {width:100%; overflow-x:auto; overflow-y:visible; -webkit-overflow-scrolling:touch;}

.pm-board_tab_webzine_list__58595_ .tab-btn {display:table; width:100%; margin:0; padding:0; list-style-type:none;}
.pm-board_tab_webzine_list__58595_ .tab-btn > li {display:table-cell;}
.pm-board_tab_webzine_list__58595_ .tab-btn > li > a {
	display:block; padding:11px 8px;
	border:1px solid #e1e1e1; border-left:none; background:#f8f8f8;
	font-size:13px; font-weight:bold; color:#9b9b9b; text-align:center; text-decoration:none; white-space:nowrap;
}
.pm-board_tab_webzine_list__58595_ .tab-btn > li.on > a,
.pm-board_tab_webzine_list__58595_ .tab-btn > li:hover > a {
	padding:10px 8px 12px;border-top:2px solid #000000; border-bottom:none; background:#ffffff; color:#555555;
}
.pm-board_tab_webzine_list__58595_ .tab-btn > li:first-child > a {border-left:1px solid #e1e1e1;}

.pm-board_tab_webzine_list__58595_ .tab-btn.tab_col2 > li {width:50%;}
.pm-board_tab_webzine_list__58595_ .tab-btn.tab_col3 > li {width:33.3333%;}
.pm-board_tab_webzine_list__58595_ .tab-btn.tab_col4 > li {width:25%;}
.pm-board_tab_webzine_list__58595_ .tab-btn.tab_col5 > li {width:20%;}
.pm-board_tab_webzine_list__58595_ .tab-btn.tab_col6 > li {width:16.6666%;}

.pm-board_tab_webzine_list__58595_ .tab-cont {display:none; padding:5px 1px;}
.pm-board_tab_webzine_list__58595_ .tab-cont.on {display:block;}
.pm-board_tab_webzine_list__58595_ .tab-cont * {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.pm-board_tab_webzine_list__58595_ .tab-cont ul {margin:0; padding:0; list-style:none;}
.pm-board_tab_webzine_list__58595_ .tab-cont li { border-bottom:1px solid #ccc; font-size:13px;}
/* .pm-board_tab_webzine_list__58595_ .tab-cont li:first-child {border-top:1px solid #ccc; }*/
.pm-board_tab_webzine_list__58595_ .tab-cont a {display:block; position:relative; padding:12px 10px; text-decoration:none; font-size:13px; color:#333;}
.pm-board_tab_webzine_list__58595_ .tab-cont a:after {content:''; display:block; clear:both;}
.pm-board_tab_webzine_list__58595_ .tab-cont .thumnail {display:block; float:left; padding:0 10px 5px 0;}
.pm-board_tab_webzine_list__58595_ .title {font-size:13px;}
.pm-board_tab_webzine_list__58595_ .date {font-size:12px; font-family:Arial; color:#888;}
.pm-board_tab_webzine_list__58595_ .webzine .title {font-size:14px; font-weight:bold; color:#333;}
.pm-board_tab_webzine_list__58595_ .webzine .date {margin:3px 0 8px;}
.pm-board_tab_webzine_list__58595_ .list .title {padding-right:80px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.pm-board_tab_webzine_list__58595_ .list .date {position:absolute; right:10px; top:12px; margin:0; font-size:12px; font-family:Arial; color:#888;}
.pm-board_tab_webzine_list__58595_ .tab-cont .body {line-height:16px; color:#555; text-overflow:ellipsis; }
.pm-board_tab_webzine_list__58595_ .tab-cont .comment {font-weight:normal; color:#888;}
.pm-board_tab_webzine_list__58595_ .tab-cont .empty {padding:5px 8px; font-size:14px; color:#666; text-align:center; }

/* ****************** 4移� �젅�씠�븘�썐  ****************** */

.layout_57683_ {clear:both; min-width:320px; max-width:1000px; margin:0 auto;}
.layout_57683_ > div {margin-left:-20px;}
.layout_57683_ > div:after {content:''; display:block; clear:both;}
.layout_57683_ > div > [class^=container_] {float:left; position:relative; width:100%; padding-left:20px; box-sizing:border-box;}
.layout_57683_ > div > .container_1 {width:25%;}
.layout_57683_ > div > .container_2 {width:25%;}
.layout_57683_ > div > .container_3 {width:25%;}
.layout_57683_ > div > .container_4 {width:25%;}

@media (max-width:1023px){
	.layout_57683_ > div > .container_1 { width:50%; }
	.layout_57683_ > div > .container_2 { width:50%; }
	.layout_57683_ > div > .container_3 {clear:both; width:50%; padding-top:20px;}
	.layout_57683_ > div > .container_4 { width:50%; padding-top:20px;}
}

@media \0screen{
	.layout_57683_ {min-width:1000px;}
}

/* ****************** �씠誘몄� (鍮꾩쑉�삎)  ****************** */

.img_ratio_57693_ {display:inline-block; overflow:hidden; position:relative; width:100%; max-width:100%; vertical-align:top;}
.img_ratio_57693_ * {box-sizing:border-box;}
.img_ratio_57693_ a {display:block; text-decoration:none;}
.img_ratio_57693_ img {width:100%; vertical-align:top;}
@media (min-width:1024px){
	.img_ratio_57693_ {width:190px;}
}
@media \0screen{
	.img_ratio_57693_ {width:190px;}
}

/* ****************** �씠誘몄� (鍮꾩쑉�삎)  ****************** */

.img_ratio_57694_ {display:inline-block; overflow:hidden; position:relative; width:100%; max-width:100%; vertical-align:top;}
.img_ratio_57694_ * {box-sizing:border-box;}
.img_ratio_57694_ a {display:block; text-decoration:none;}
.img_ratio_57694_ img {width:100%; vertical-align:top;}
@media (min-width:1024px){
	.img_ratio_57694_ {width:190px;}
}
@media \0screen{
	.img_ratio_57694_ {width:190px;}
}

/* ****************** �씠誘몄� (鍮꾩쑉�삎)  ****************** */

.img_ratio_57695_ {display:inline-block; overflow:hidden; position:relative; width:100%; max-width:100%; vertical-align:top;}
.img_ratio_57695_ * {box-sizing:border-box;}
.img_ratio_57695_ a {display:block; text-decoration:none;}
.img_ratio_57695_ img {width:100%; vertical-align:top;}
@media (min-width:1024px){
	.img_ratio_57695_ {width:190px;}
}
@media \0screen{
	.img_ratio_57695_ {width:190px;}
}

/* ****************** �씠誘몄� (鍮꾩쑉�삎)  ****************** */

.img_ratio_57696_ {display:inline-block; overflow:hidden; position:relative; width:100%; max-width:100%; vertical-align:top;}
.img_ratio_57696_ * {box-sizing:border-box;}
.img_ratio_57696_ a {display:block; text-decoration:none;}
.img_ratio_57696_ img {width:100%; vertical-align:top;}
@media (min-width:1024px){
	.img_ratio_57696_ {width:190px;}
}
@media \0screen{
	.img_ratio_57696_ {width:190px;}
}

/* ****************** �븘�씠肄� 踰꾪듉  ****************** */

@font-face {
	font-family: 'icomoon_15051801';
	src:url('/img_up/shop_pds/aramfarm/design/icomoon_15051801/icomoon.eot');
	src:url('/img_up/shop_pds/aramfarm/design/icomoon_15051801/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/img_up/shop_pds/aramfarm/design/icomoon_15051801/icomoon.woff') format('woff'),
		url('/img_up/shop_pds/aramfarm/design/icomoon_15051801/icomoon.ttf') format('truetype'),
		url('/img_up/shop_pds/aramfarm/design/icomoon_15051801/icomoon.svg#icomoon_15051801') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon_button_184656_ a  {
	display:inline-block; margin:0; padding:0;
	border:1px solid #c8bfa0; border-radius:0px; background:#c8bfa0; box-sizing:border-box;
	font-size:13px; font-weight:normal; color:#554613; text-align:center; text-decoration:none;
}
.icon_button_184656_.style_line a {background:transparent; color:#c8bfa0;}
.icon_button_184656_.space_normal a {padding:.6em 1.2em;}
.icon_button_184656_.space_wide a {padding:.6em 2em;}
.icon_button_184656_.space_full a {display:block; width:100%; padding:.6em 1.2em;}

.icon_button_184656_ a:before {
	content:'\e626'; font-family:"icomoon_15051801";
	margin-right:10px; font-size:1em; font-weight:normal; color:;
}
