
/* ****************** 2移� �젅�씠�븘�썐  ****************** */

.layout_182959_ {min-width:320px;  }
 
.layout_182959_ {max-width:1250px; margin:0 auto;}
@media \0screen{
	.layout_182959_ {min-width:1250px;}
}
.layout_182959_:after {content:''; display:block; clear:both;}
.layout_182959_ > [class^=container_] {position:relative; float:left; width:100%;}

.layout_182959_.grid_11 > [class^=container_] {width:50%;}
.layout_182959_.grid_41 > .container_1 {width:80%;}
.layout_182959_.grid_41 > .container_2 {width:20%;}
.layout_182959_.grid_31 > .container_1 {width:75%;}
.layout_182959_.grid_31 > .container_2 {width:25%;}
.layout_182959_.grid_21 > .container_1 {width:66.6666%;}
.layout_182959_.grid_21 > .container_2 {width:33.3333%;}
.layout_182959_.grid_12 > .container_1 {width:33.3333%;}
.layout_182959_.grid_12 > .container_2 {width:66.6666%;}
.layout_182959_.grid_13 > .container_1 {width:25%;}
.layout_182959_.grid_13 > .container_2 {width:75%;}
.layout_182959_.grid_14 > .container_1 {width:20%;}
.layout_182959_.grid_14 > .container_2 {width:80%;}

@media (max-width:1023px){
	.layout_182959_ > div {width:100% !important;}
}

/* ****************** 濡쒓퀬 A  ****************** */

@font-face {
	font-family: 'icomoon_header';
	src:url('../../aramfarm/design/icomoon_header/icomoon.eot');
	src:url('../../aramfarm/design/icomoon_header/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../../aramfarm/design/icomoon_header/icomoon.woff') format('woff'),
		url('../../aramfarm/design/icomoon_header/icomoon.ttf') format('truetype'),
		url('../../aramfarm/design/icomoon_header/icomoon.svg#icomoon_header') format('svg');
	font-weight: normal;
	font-style: normal;
}

.logo_182961_ {position:relative; padding:0 80px; border-bottom:2px solid #0466c1;}
.logo_182961_ * {box-sizing:border-box;}
.logo_182961_ h1 {display:table; width:100%; margin:0; padding:0; text-align:center;}
.logo_182961_ h1 a {display:table-cell; height:75px; vertical-align:middle;}
.logo_182961_ h1 img {max-width:100%; max-height:100%; vertical-align:middle;}

.toggle_182961_ {
	display:none; overflow:hidden; position:absolute; top:50%; width:30px; height:30px; margin-top:-15px; padding:4px;
	border:1px solid #ddd; border-radius:2px;
}
.toggle_182961_.use {display:block;}
.toggle_182961_:before {display:inline-block; font-family:"icomoon_header"; font-size:20px; color:#bbb; line-height:1em;}
.toggle_182961_.on:before {color:#0466c1;}

.tel_182961_ {display:block; left:10px;}
.tel_182961_:before {content:'\e604'; color:#0466c1;}
#farmBoxTel {display:none;}

.toggleSearch_182961_ {left:45px;}
.toggleSearch_182961_:before {content:'\e600';}
#farmBoxSearch {display:none;}
#farmBoxSearch.on {display:block;}

.toggleGnb_182961_ {right:45px;}
.toggleGnb_182961_:before {content:'\e602';}
#farmBoxGnb {display:none;}
#farmBoxGnb.on {display:block;}

.toggleLnb_182961_ {right:10px;}
.toggleLnb_182961_:before {content:'\e601';}
#farmBoxLnb {display:none;}
#farmBoxLnb.on {display:block;}

[id^=div_user_list] .toggle_182961_ {display:block;}

@media (min-width:1024px){
	.logo_182961_ {padding:5px 0; border-bottom:none;}
	.toggle_182961_ {display:none !important;}
	[id^=farmBox] {display:block !important;}
}

@media \0screen{
	.logo_182961_ {padding:10px 0; border-bottom:none;}
	.toggle_182961_ {display:none !important;}
	[id^=farmBox] {display:block !important;}
}

/* ****************** �꽕鍮꾧쾶�씠�뀡 A  ****************** */

.lnb_182960_ * {box-sizing:border-box;}
.lnb_182960_ ul {margin:0; padding:0; list-style:none; font-size:0;}
.lnb_182960_ a {
	display:block; position:relative; height:50px; line-height:50px; font-weight:bold; text-decoration:none;
	overflow:hidden; white-space:nowrap; text-overflow:ellipsis;
}
.lnb_182960_ .dep1 > li > a { 
	padding:0 15px 0 30px; border-bottom:1px solid #f6cccd; background:#f8e4e6; font-size:15px; color:#3E3A39;
}
.lnb_182960_ .dep1 > li > a:before {
	content:''; display:block; position:absolute; left:20px; top:50%; width:3px; height:3px; margin-top:-1px; background:#3E3A39;
}
.lnb_182960_ .dep2 > li > a {
	padding:0 15px 0 45px; border-bottom:1px solid #e1e2e3; background:#ffffff; font-size:13px; color:#393939;
}

@media (min-width:1024px){
	/* dep1 */
	.lnb_182960_ .dep1:after {content:''; display:block; clear:both;}
	.lnb_182960_ .dep1 > li {float:left; position:relative; z-index:600; width:16.666666666667%;}
	.lnb_182960_ .dep1 > li:hover {z-index:610;}
	.lnb_182960_ .dep1 > li > div {
		display:none; position:absolute; left:0; width:100%; padding:5px 0;
		border-top:3px solid #f4f3f3;}
	}
	.lnb_182960_ .dep1 > li:hover > div {display:block; }
	.lnb_182960_ .dep1 > li > a {
		height:50px; line-height:50px; padding:0 20px;
		border-bottom:none; background:none; color:#3E3A39; text-align:center;
	}
	.lnb_182960_ .dep1 > li.on > a,
	.lnb_182960_ .dep1 > li:hover > a {color:#cdc4a3;  /*background:#f4f3f3;*/}
	.lnb_182960_ .dep1 > li > a:before {display:none;}

	/* dep2 */
       .lnb_182960_ .dep2 { margin-top:1px;  }
	.lnb_182960_ .dep2 > li > a { 
		height:35px; line-height:30px; padding:0 20px;
		border-bottom:none;   background-color:rgba(0, 0, 0, 0.8); color:#ffffff;
	}
	.lnb_182960_ .dep2 > li.on > a,
	.lnb_182960_ .dep2 > li:hover > a { background-color:rgba(51, 51, 51, 0.9); color:#cdc4a3;}

	/* dep1 triangle */
	/*.lnb_182960_ .dep1 > li.has_sub:before,
	.lnb_182960_ .dep1 > li.has_sub:after {
		content:''; display:none; position:absolute; left:50%; margin-left:-8px;
		border-left:8px solid transparent; border-right:8px solid transparent;
	}*/

   


	.lnb_182960_ .dep1 > li.has_sub:before {bottom:0; border-bottom:8px solid #cdc4a3;}
	.lnb_182960_ .dep1 > li.has_sub:after {bottom:-3px; border-bottom:8px solid #000000;}
	.lnb_182960_ .dep1 > li.has_sub:hover:before,
	.lnb_182960_ .dep1 > li.has_sub:hover:after {display:block;}
}

@media \0screen{
	/* dep1 */
	.lnb_182960_ .dep1:after {content:''; display:block; clear:both;}
	.lnb_182960_ .dep1 > li {float:left; position:relative; z-index:600; width:16.666666666667%;}
	.lnb_182960_ .dep1 > li:hover {z-index:610;}
	.lnb_182960_ .dep1 > li > div {
		display:none; position:absolute; left:0; width:100%; padding:5px 0;
		border-top:3px solid #f4f3f3; background:#000000;
	}
	.lnb_182960_ .dep1 > li:hover > div {display:block;}
	.lnb_182960_ .dep1 > li > a { 
		height:50px; line-height:50px; padding:0 20px;
		border-bottom:none; background:none; color:#3E3A39; text-align:center;
	}
	.lnb_182960_ .dep1 > li.on > a,
	.lnb_182960_ .dep1 > li:hover > a {color:#cdc4a3;}
	.lnb_182960_ .dep1 > li > a:before {display:none;}

	/* dep2 */
	.lnb_182960_ .dep2 > li > a {
		height:30px; line-height:30px; padding:0 20px;
		border-bottom:none; background-color:rgba(0, 0, 0, 0.5); color:#ffffff;
	}
	.lnb_182960_ .dep2 > li.on > a,
	.lnb_182960_ .dep2 > li:hover > a { color:#cdc4a3;}

	/* dep1 triangle */
	.lnb_182960_ .dep1 > li.has_sub:before,
	.lnb_182960_ .dep1 > li.has_sub:after {
		content:''; display:none; position:absolute; left:50%; margin-left:-8px;
		border-left:8px solid transparent; border-right:8px solid transparent;
	}
	.lnb_182960_ .dep1 > li.has_sub:before {bottom:0; border-bottom:8px solid #cdc4a3;}
	.lnb_182960_ .dep1 > li.has_sub:after {bottom:-3px; border-bottom:8px solid #000000;}
	.lnb_182960_ .dep1 > li.has_sub:hover:before,
	.lnb_182960_ .dep1 > li.has_sub:hover:after {display:block;}
}

/* ****************** 2移� �젅�씠�븘�썐  ****************** */

.layout_182962_ {clear:both; min-width:320px; max-width:1000px; margin:0 auto;}
.layout_182962_ > div {}
.layout_182962_ > div:after {content:''; display:block; clear:both;}
.layout_182962_ > div > [class^=container_] {float:left; position:relative; width:100%;  box-sizing:border-box;}
.layout_182962_ > div > .container_1 {width:25%;}
.layout_182962_ > div > .container_2 {width:75%;}

@media (max-width:1023px){
	.layout_182962_ > div > .container_1 { width:100%; }
	.layout_182962_ > div > .container_2 { width:100%; }
}

@media \0screen{
	.layout_182962_ {min-width:1000px;}
}

/* ****************** 濡쒓퀬 A  ****************** */

@font-face {
	font-family: 'icomoon_header';
	src:url('../../aramfarm/design/icomoon_header/icomoon.eot');
	src:url('../../aramfarm/design/icomoon_header/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../../aramfarm/design/icomoon_header/icomoon.woff') format('woff'),
		url('../../aramfarm/design/icomoon_header/icomoon.ttf') format('truetype'),
		url('../../aramfarm/design/icomoon_header/icomoon.svg#icomoon_header') format('svg');
	font-weight: normal;
	font-style: normal;
}

.logo_184628_ {position:relative; padding:0 80px; border-bottom:2px solid #afa37c;}
.logo_184628_ * {box-sizing:border-box;}
.logo_184628_ h1 {display:table; width:100%; margin:0; padding:0; text-align:center;}
.logo_184628_ h1 a {display:table-cell; height:80px; vertical-align:middle;}
.logo_184628_ h1 img {max-width:100%; max-height:100%; vertical-align:middle;}

.toggle_184628_ {
	display:none; overflow:hidden; position:absolute; top:50%; width:60px; height:30px; margin-top:-15px; padding:4px;
	border:1px solid #ddd; border-radius:2px;
}
.toggle_184628_.use {display:block;}
.toggle_184628_:before {display:inline-block; font-family:"icomoon_header"; font-size:20px; color:#bbb; line-height:1em;}
.toggle_184628_.on:before {color:#afa37c;}

.tel_184628_ {display:block; left:10px; width:30px; }
.tel_184628_:before {content:'\e604'; color:#afa37c;}
#farmBoxTel {display:none;}

.toggleSearch_184628_ {left:45px;}
.toggleSearch_184628_:before {content:'\e600';}
#farmBoxSearch {display:none;}
#farmBoxSearch.on {display:block;}

.toggleGnb_184628_ {right:45px;}
.toggleGnb_184628_:before {content:'\e602';}
#farmBoxGnb {display:none;}
#farmBoxGnb.on {display:block;}

.toggleLnb_184628_ {right:10px;border:none;background:url(/img_up/shop_pds/ehompy0118/design/img/menu_btn.png) no-repeat 0 0;text-indent:-9999px;}
/*.toggleLnb_184628_:before {content:'\e601';}*/
#farmBoxLnb {display:none;}
#farmBoxLnb.on {display:block;}

[id^=div_user_list] .toggle_184628_ {display:block;}

@media (min-width:1024px){
	.logo_184628_ {padding:10px 0; border-bottom:none;}
	.toggle_184628_ {display:none !important;}
	[id^=farmBox] {display:block !important;}
}

@media \0screen{
	.logo_184628_ {padding:10px 0; border-bottom:none;}
	.toggle_184628_ {display:none !important;}
	[id^=farmBox] {display:block !important;}
}

/* ****************** �꽕鍮꾧쾶�씠�뀡 (鍮꾩쑉�삎 A)  ****************** */

.lnb_182964_ {font-size:0;}
.lnb_182964_ * {box-sizing:border-box;}
.lnb_182964_ ul {margin:0; padding:0; list-style:none;}
.lnb_182964_ a {
	display:block; position:relative; height:40px; line-height:40px; font-weight:bold; text-align:left; text-decoration:none; text-align:;
	overflow:hidden; white-space:nowrap; text-overflow:ellipsis;
}
.lnb_182964_ .dep1 > li > a {
	padding:0 15px 0 30px; border-bottom:1px solid #dcdcdc; background:#ececec; font-size:14px; color:#777777;
}
.lnb_182964_ .dep1 > li > a:before {
	content:''; display:block; position:absolute; left:20px; top:50%; width:3px; height:3px; margin-top:-1px; background:#777777;
}
.lnb_182964_ .dep2 > li > a {
	padding:0 15px 0 45px; border-bottom:1px solid #e1e2e3; background:#ffffff; font-size:13px; color:#393939;
}
.lnb_182964_ .dep3_li > a:before {content:'- '; padding-left:15px;}

@media (min-width:1024px){
	/* dep1 */
	.lnb_182964_ .dep1:after {content:''; display:block; clear:both;}
	.lnb_182964_ .dep1 > li {float:left; position:relative; z-index:600; width:16.666666666667%;}
	.lnb_182964_ .dep1 > li:hover {z-index:610;}
	.lnb_182964_ .dep1 > li > div {
		display:none; position:absolute; left:0; width:100%; padding:5px 0;
		border:3px solid #777777; background:#ffffff;
	}
	.lnb_182964_ .dep1 > li:hover > div {display:block;}
	.lnb_182964_ .dep1 > li > a {
		z-index:620; height:50px; line-height:50px; padding:0 20px;
		border-bottom:none; background:none; color:#393939; text-align:center;
	}
	.lnb_182964_ .dep1 > li.on > a,
	.lnb_182964_ .dep1 > li:hover > a {color:#777777;}
	.lnb_182964_ .dep1 > li > a:before {display:none;}

	/* dep2 */
	.lnb_182964_ .dep2 > li > a {
		height:30px; line-height:30px; padding:0 20px;
		border-bottom:none; background:#ffffff; color:#393939;
	}
	.lnb_182964_ .dep2 > li.on > a,
	.lnb_182964_ .dep2 > li:hover > a {background:#ececec; color:#777777;}

	/* dep1 triangle */
	.lnb_182964_ .dep1 > li.has_sub:before,
	.lnb_182964_ .dep1 > li.has_sub:after {
		content:''; display:none; position:absolute; left:50%; z-index:630; margin-left:-8px;
		border-left:8px solid transparent; border-right:8px solid transparent;
	}
	.lnb_182964_ .dep1 > li.has_sub:before {bottom:0; border-bottom:8px solid #777777;}
	.lnb_182964_ .dep1 > li.has_sub:after {bottom:-3px; border-bottom:8px solid #ffffff;}
	.lnb_182964_ .dep1 > li.has_sub:hover:before,
	.lnb_182964_ .dep1 > li.has_sub:hover:after {display:block;}
}

@media \0screen{
	/* dep1 */
	.lnb_182964_ .dep1:after {content:''; display:block; clear:both;}
	.lnb_182964_ .dep1 > li {float:left; position:relative; z-index:600; width:16.666666666667%;}
	.lnb_182964_ .dep1 > li:hover {z-index:610;}
	.lnb_182964_ .dep1 > li > div {
		display:none; position:absolute; left:0; width:100%; padding:5px 0;
		border:3px solid #777777; background:#ffffff;
	}
	.lnb_182964_ .dep1 > li:hover > div {display:block;}
	.lnb_182964_ .dep1 > li > a {
		z-index:620; height:50px; line-height:50px; padding:0 20px;
		border-bottom:none; background:none; color:#393939; text-align:center;
	}
	.lnb_182964_ .dep1 > li.on > a,
	.lnb_182964_ .dep1 > li:hover > a {color:#777777;}
	.lnb_182964_ .dep1 > li > a:before {display:none;}

	/* dep2 */
	.lnb_182964_ .dep2 > li > a {
		height:30px; line-height:30px; padding:0 20px;
		border-bottom:none; background:#ffffff; color:#393939;
	}
	.lnb_182964_ .dep2 > li.on > a,
	.lnb_182964_ .dep2 > li:hover > a {background:#ececec; color:#777777;}

	/* dep1 triangle */
	.lnb_182964_ .dep1 > li.has_sub:before,
	.lnb_182964_ .dep1 > li.has_sub:after {
		content:''; display:none; position:absolute; left:50%; z-index:630; margin-left:-8px;
		border-left:8px solid transparent; border-right:8px solid transparent;
	}
	.lnb_182964_ .dep1 > li.has_sub:before {bottom:0; border-bottom:8px solid #777777;}
	.lnb_182964_ .dep1 > li.has_sub:after {bottom:-3px; border-bottom:8px solid #ffffff;}
	.lnb_182964_ .dep1 > li.has_sub:hover:before,
	.lnb_182964_ .dep1 > li.has_sub:hover:after {display:block;}
}

/* ****************** 1移� �젅�씠�븘�썐  ****************** */

.layout_57330_ {clear:both; min-width:320px; max-width:1200px; margin:0 auto;}
.layout_57330_ > div:after {content:''; display:block; clear:both;}
.layout_57330_ > div > [class^=container_] {float:left; position:relative; width:100%; box-sizing:border-box;}

@media \0screen{
	.layout_57330_ {min-width:1200px;}
}

/* ****************** �븯�떒 硫붾돱  ****************** */

.fnb_57331_ ul {margin:0; padding:0; list-style:none; font-size:0;}
.fnb_57331_ li {position:relative; display:inline-block; font-size:16px;}
.fnb_57331_ li:before {content:''; display:block; position:absolute; left:0; top:50%; width:1px; height:10px; margin-top:-5px; background-color:#777777; opacity:.5;}
.fnb_57331_ li:first-child:before {display:none;}
.fnb_57331_ li a {display:block; height:30px; line-height:30px; margin:0; padding:0 .8em; font-size:12px; font-family:Arial; color:#777777; text-decoration:none;}
.fnb_57331_ li a:hover {text-decoration:underline;}
.fnb_57331_ p {height:30px; line-height:30px; margin:0; padding:0 .8em; font-family:Arial; font-size:12px; color:#777777}

/* ****************** 1移� �젅�씠�븘�썐  ****************** */

.layout_58204_ {clear:both; min-width:320px; max-width:1000px; margin:0 auto;}
.layout_58204_ > div:after {content:''; display:block; clear:both;}
.layout_58204_ > div > [class^=container_] {float:left; position:relative; width:100%; box-sizing:border-box;}

@media \0screen{
	.layout_58204_ {min-width:1000px;}
}

/* ****************** �븯�떒 �젙蹂�  ****************** */

.footer_info_58205_ {padding:0 10px;}
.footer_info_58205_ ul {margin:0; padding:0; list-style:none; font-size:0;}
.footer_info_58205_ li {position:relative; display:inline-block; padding:0 .8em; font-size:12px; font-family:Arial; color:#eeeeee; line-height:22px;}
.footer_info_58205_ li:before {content:''; display:block; position:absolute; left:0; top:50%; width:1px; height:10px; margin-top:-5px; background-color:#eeeeee; opacity:.5;}
.footer_info_58205_ li:first-child {padding-left:0;}
.footer_info_58205_ li:first-child:before {display:none;}
.footer_info_58205_ li .bizinfo {display:inline-block; margin-left:.8em; padding:0 .5em; border-radius:2px; background:#666; font-size:12px; color:#fff; line-height:20px; text-decoration:none;}

/* ****************** 1移� �젅�씠�븘�썐  ****************** */

.layout_183731_ {clear:both; min-width:320px; max-width:1200px; margin:0 auto;}
.layout_183731_ > div:after {content:''; display:block; clear:both;}
.layout_183731_ > div > [class^=container_] {float:left; position:relative; width:100%; box-sizing:border-box;}

@media \0screen{
	.layout_183731_ {min-width:1200px;}
}

/* ****************** �븯�떒 �젙蹂�  ****************** */

.footer_info_183732_ {padding:0 10px;}
.footer_info_183732_ ul {margin:0; padding:0; list-style:none; font-size:0;}
.footer_info_183732_ li {position:relative; display:inline-block; padding:0 .8em; font-size:12px; font-family:Arial; color:#eeeeee; line-height:22px;}
.footer_info_183732_ li:before {content:''; display:block; position:absolute; left:0; top:50%; width:1px; height:10px; margin-top:-5px; background-color:#eeeeee; opacity:.5;}
.footer_info_183732_ li:first-child {padding-left:0;}
.footer_info_183732_ li:first-child:before {display:none;}
.footer_info_183732_ li .bizinfo {display:inline-block; margin-left:.8em; padding:0 .5em; border-radius:2px; background:#666; font-size:12px; color:#fff; line-height:20px; text-decoration:none;}

/* ****************** �긽�떒�쑝濡� 諛붾줈媛�湲� 踰꾪듉  ****************** */

@font-face {
	font-family: 'icomoon_contents';
	src:url('../../aramfarm/design/icomoon_contents/icomoon.eot');
	src:url('../../aramfarm/design/icomoon_contents/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../../aramfarm/design/icomoon_contents/icomoon.woff') format('woff'),
		url('../../aramfarm/design/icomoon_contents/icomoon.ttf') format('truetype'),
		url('../../aramfarm/design/icomoon_contents/icomoon.svg#icomoon_contents') format('svg');
	font-weight: normal;
	font-style: normal;
}
.scroll_top_57334_ {
	position:fixed; bottom:10px; right:-70px; width:30px; height:30px; line-height:30px;
	border:1px solid #878787; background:#878787;
	font-size:0; color:#fff; text-align:center; cursor:pointer; opacity:.6;
	-webkit-transition:right .3s ease-out;
	-moz-transition:right .3s ease-out;
	-o-transition:right .3s ease-out;
	-ms-transition:right .3s ease-out;
	transition:right .3s ease-out;
}
.scroll_top_57334_.on {right:10px;}
.scroll_top_57334_ span:before {content:'\e601'; font-family:"icomoon_contents"; font-size:15px;}

[id^=div_user_list] .scroll_top_57334_ {position:relative; right:0; opacity:1;}

@media (min-width:1024px){
	.scroll_top_57334_:hover {opacity:1;}
	.scroll_top_57334_ {width:40px; height:40px; line-height:40px;}
	.scroll_top_57334_ span:before {font-size:20px;}
}

@media \0screen{
	.scroll_top_57334_:hover {opacity:1;}
	.scroll_top_57334_ {width:40px; height:40px; line-height:40px;}
	.scroll_top_57334_ span:before {font-size:20px;}
}
