
/* ****************** 2移� �젅�씠�븘�썐  ****************** */

.layout_184647_ {clear:both; min-width:320px; max-width:1000px; margin:0 auto;}
.layout_184647_ > div {}
.layout_184647_ > div:after {content:''; display:block; clear:both;}
.layout_184647_ > div > [class^=container_] {float:left; position:relative; width:100%;  box-sizing:border-box;}
.layout_184647_ > div > .container_1 {width:25%;}
.layout_184647_ > div > .container_2 {width:75%;}

@media (max-width:1023px){
	.layout_184647_ > div > .container_1 { width:100%; }
	.layout_184647_ > div > .container_2 { width:100%; }
}

@media \0screen{
	.layout_184647_ {min-width:1000px;}
}

/* ****************** 濡쒓퀬 A  ****************** */

@font-face {
	font-family: 'icomoon_header';
	src:url('../../aramfarm/design/icomoon_header/icomoon.eot');
	src:url('../../aramfarm/design/icomoon_header/icomoond41d.eot?#iefix') format('embedded-opentype'),
		url('../../aramfarm/design/icomoon_header/icomoon.woff') format('woff'),
		url('../../aramfarm/design/icomoon_header/icomoon.ttf') format('truetype'),
		url('../../aramfarm/design/icomoon_header/icomoon.svg#icomoon_header') format('svg');
	font-weight: normal;
	font-style: normal;
}

.logo_184649_ {position:relative; padding:0 80px; border-bottom:2px solid #afa37c;}
.logo_184649_ * {box-sizing:border-box;}
.logo_184649_ h1 {display:table; width:100%; margin:0; padding:0; text-align:center;}
.logo_184649_ h1 a {display:table-cell; height:80px; vertical-align:middle;}
.logo_184649_ h1 img {max-width:100%; max-height:100%; vertical-align:middle;}

.toggle_184649_ {
	display:none; overflow:hidden; position:absolute; top:50%; width:60px; height:30px; margin-top:-15px; padding:4px;
	border:1px solid #ddd; border-radius:2px;
}
.toggle_184649_.use {display:block;}
.toggle_184649_:before {display:inline-block; font-family:"icomoon_header"; font-size:20px; color:#bbb; line-height:1em;}
.toggle_184649_.on:before {color:#afa37c;}

.tel_184649_ {display:block; left:10px; width:30px; }
.tel_184649_:before {content:'\e604'; color:#afa37c;}
#farmBoxTel {display:none;}

.toggleSearch_184649_ {left:45px;}
.toggleSearch_184649_:before {content:'\e600';}
#farmBoxSearch {display:none;}
#farmBoxSearch.on {display:block;}

.toggleGnb_184649_ {right:45px;}
.toggleGnb_184649_:before {content:'\e602';}
#farmBoxGnb {display:none;}
#farmBoxGnb.on {display:block;}

.toggleLnb_184649_ {right:10px;border:none;background:url(../design/img/menu_btn.png) no-repeat 0 0;text-indent:-9999px;}
/*.toggleLnb_184649_:before {content:'\e601';}*/
#farmBoxLnb {display:none;}
#farmBoxLnb.on {display:block;}

[id^=div_user_list] .toggle_184649_ {display:block;}

@media (min-width:1024px){
	.logo_184649_ {padding:10px 0; border-bottom:none;}
	.toggle_184649_ {display:none !important;}
	[id^=farmBox] {display:block !important;}
}

@media \0screen{
	.logo_184649_ {padding:10px 0; border-bottom:none;}
	.toggle_184649_ {display:none !important;}
	[id^=farmBox] {display:block !important;}
}

/* ****************** �꽕鍮꾧쾶�씠�뀡 (鍮꾩쑉�삎 A)  ****************** */

.lnb_184648_ {font-size:0;}
.lnb_184648_ * {box-sizing:border-box;}
.lnb_184648_ ul {margin:0; padding:0; list-style:none;}
.lnb_184648_ a {
	display:block; position:relative; height:40px; line-height:40px; font-weight:bold; text-align:left; text-decoration:none; text-align:;
	overflow:hidden; white-space:nowrap; text-overflow:ellipsis;
}
.lnb_184648_ .dep1 > li > a {
	padding:0 15px 0 30px; border-bottom:1px solid #dcdcdc; background:#ececec; font-size:14px; color:#777777;
}
.lnb_184648_ .dep1 > li > a:before {
	content:''; display:block; position:absolute; left:20px; top:50%; width:3px; height:3px; margin-top:-1px; background:#777777;
}
.lnb_184648_ .dep2 > li > a {
	padding:0 15px 0 45px; border-bottom:1px solid #e1e2e3; background:#ffffff; font-size:13px; color:#393939;
}
.lnb_184648_ .dep3_li > a:before {content:'- '; padding-left:15px;}

@media (min-width:1024px){
	/* dep1 */
	.lnb_184648_ .dep1:after {content:''; display:block; clear:both;}
	.lnb_184648_ .dep1 > li {float:left; position:relative; z-index:600; width:16.666666666667%;}
	.lnb_184648_ .dep1 > li:hover {z-index:610;}
	.lnb_184648_ .dep1 > li > div {
		display:none; position:absolute; left:0; width:100%; padding:5px 0;
		border:3px solid #777777; background:#ffffff;
	}
	.lnb_184648_ .dep1 > li:hover > div {display:block;}
	.lnb_184648_ .dep1 > li > a {
		z-index:620; height:50px; line-height:50px; padding:0 20px;
		border-bottom:none; background:none; color:#393939; text-align:center;
	}
	.lnb_184648_ .dep1 > li.on > a,
	.lnb_184648_ .dep1 > li:hover > a {color:#777777;}
	.lnb_184648_ .dep1 > li > a:before {display:none;}

	/* dep2 */
	.lnb_184648_ .dep2 > li > a {
		height:30px; line-height:30px; padding:0 20px;
		border-bottom:none; background:#ffffff; color:#393939;
	}
	.lnb_184648_ .dep2 > li.on > a,
	.lnb_184648_ .dep2 > li:hover > a {background:#ececec; color:#777777;}

	/* dep1 triangle */
	.lnb_184648_ .dep1 > li.has_sub:before,
	.lnb_184648_ .dep1 > li.has_sub:after {
		content:''; display:none; position:absolute; left:50%; z-index:630; margin-left:-8px;
		border-left:8px solid transparent; border-right:8px solid transparent;
	}
	.lnb_184648_ .dep1 > li.has_sub:before {bottom:0; border-bottom:8px solid #777777;}
	.lnb_184648_ .dep1 > li.has_sub:after {bottom:-3px; border-bottom:8px solid #ffffff;}
	.lnb_184648_ .dep1 > li.has_sub:hover:before,
	.lnb_184648_ .dep1 > li.has_sub:hover:after {display:block;}
}

@media \0screen{
	/* dep1 */
	.lnb_184648_ .dep1:after {content:''; display:block; clear:both;}
	.lnb_184648_ .dep1 > li {float:left; position:relative; z-index:600; width:16.666666666667%;}
	.lnb_184648_ .dep1 > li:hover {z-index:610;}
	.lnb_184648_ .dep1 > li > div {
		display:none; position:absolute; left:0; width:100%; padding:5px 0;
		border:3px solid #777777; background:#ffffff;
	}
	.lnb_184648_ .dep1 > li:hover > div {display:block;}
	.lnb_184648_ .dep1 > li > a {
		z-index:620; height:50px; line-height:50px; padding:0 20px;
		border-bottom:none; background:none; color:#393939; text-align:center;
	}
	.lnb_184648_ .dep1 > li.on > a,
	.lnb_184648_ .dep1 > li:hover > a {color:#777777;}
	.lnb_184648_ .dep1 > li > a:before {display:none;}

	/* dep2 */
	.lnb_184648_ .dep2 > li > a {
		height:30px; line-height:30px; padding:0 20px;
		border-bottom:none; background:#ffffff; color:#393939;
	}
	.lnb_184648_ .dep2 > li.on > a,
	.lnb_184648_ .dep2 > li:hover > a {background:#ececec; color:#777777;}

	/* dep1 triangle */
	.lnb_184648_ .dep1 > li.has_sub:before,
	.lnb_184648_ .dep1 > li.has_sub:after {
		content:''; display:none; position:absolute; left:50%; z-index:630; margin-left:-8px;
		border-left:8px solid transparent; border-right:8px solid transparent;
	}
	.lnb_184648_ .dep1 > li.has_sub:before {bottom:0; border-bottom:8px solid #777777;}
	.lnb_184648_ .dep1 > li.has_sub:after {bottom:-3px; border-bottom:8px solid #ffffff;}
	.lnb_184648_ .dep1 > li.has_sub:hover:before,
	.lnb_184648_ .dep1 > li.has_sub:hover:after {display:block;}
}

/* ****************** 2移� �젅�씠�븘�썐  ****************** */

.layout_183741_ {min-width:320px;  }
 
.layout_183741_ {max-width:1250px; margin:0 auto;}
@media \0screen{
	.layout_183741_ {min-width:1250px;}
}
.layout_183741_:after {content:''; display:block; clear:both;}
.layout_183741_ > [class^=container_] {position:relative; float:left; width:100%;}

.layout_183741_.grid_11 > [class^=container_] {width:50%;}
.layout_183741_.grid_41 > .container_1 {width:80%;}
.layout_183741_.grid_41 > .container_2 {width:20%;}
.layout_183741_.grid_31 > .container_1 {width:75%;}
.layout_183741_.grid_31 > .container_2 {width:25%;}
.layout_183741_.grid_21 > .container_1 {width:66.6666%;}
.layout_183741_.grid_21 > .container_2 {width:33.3333%;}
.layout_183741_.grid_12 > .container_1 {width:33.3333%;}
.layout_183741_.grid_12 > .container_2 {width:66.6666%;}
.layout_183741_.grid_13 > .container_1 {width:25%;}
.layout_183741_.grid_13 > .container_2 {width:75%;}
.layout_183741_.grid_14 > .container_1 {width:20%;}
.layout_183741_.grid_14 > .container_2 {width:80%;}

@media (max-width:1023px){
	.layout_183741_ > div {width:100% !important;}
}

/* ****************** 濡쒓퀬 A  ****************** */

@font-face {
	font-family: 'icomoon_header';
	src:url('../../aramfarm/design/icomoon_header/icomoon.eot');
	src:url('../../aramfarm/design/icomoon_header/icomoond41d.eot?#iefix') format('embedded-opentype'),
		url('../../aramfarm/design/icomoon_header/icomoon.woff') format('woff'),
		url('../../aramfarm/design/icomoon_header/icomoon.ttf') format('truetype'),
		url('../../aramfarm/design/icomoon_header/icomoon.svg#icomoon_header') format('svg');
	font-weight: normal;
	font-style: normal;
}

.logo_183743_ {position:relative; padding:0 80px; border-bottom:2px solid #0466c1;}
.logo_183743_ * {box-sizing:border-box;}
.logo_183743_ h1 {display:table; width:100%; margin:0; padding:0; text-align:center;}
.logo_183743_ h1 a {display:table-cell; height:75px; vertical-align:middle;}
.logo_183743_ h1 img {max-width:100%; max-height:100%; vertical-align:middle;}

.toggle_183743_ {
	display:none; overflow:hidden; position:absolute; top:50%; width:30px; height:30px; margin-top:-15px; padding:4px;
	border:1px solid #ddd; border-radius:2px;
}
.toggle_183743_.use {display:block;}
.toggle_183743_:before {display:inline-block; font-family:"icomoon_header"; font-size:20px; color:#bbb; line-height:1em;}
.toggle_183743_.on:before {color:#0466c1;}

.tel_183743_ {display:block; left:10px;}
.tel_183743_:before {content:'\e604'; color:#0466c1;}
#farmBoxTel {display:none;}

.toggleSearch_183743_ {left:45px;}
.toggleSearch_183743_:before {content:'\e600';}
#farmBoxSearch {display:none;}
#farmBoxSearch.on {display:block;}

.toggleGnb_183743_ {right:45px;}
.toggleGnb_183743_:before {content:'\e602';}
#farmBoxGnb {display:none;}
#farmBoxGnb.on {display:block;}

.toggleLnb_183743_ {right:10px;}
.toggleLnb_183743_:before {content:'\e601';}
#farmBoxLnb {display:none;}
#farmBoxLnb.on {display:block;}

[id^=div_user_list] .toggle_183743_ {display:block;}

@media (min-width:1024px){
	.logo_183743_ {padding:5px 0; border-bottom:none;}
	.toggle_183743_ {display:none !important;}
	[id^=farmBox] {display:block !important;}
}

@media \0screen{
	.logo_183743_ {padding:10px 0; border-bottom:none;}
	.toggle_183743_ {display:none !important;}
	[id^=farmBox] {display:block !important;}
}

/* ****************** �꽕鍮꾧쾶�씠�뀡 A  ****************** */

.lnb_183742_ * {box-sizing:border-box;}
.lnb_183742_ ul {margin:0; padding:0; list-style:none; font-size:0;}
.lnb_183742_ a {
	display:block; position:relative; height:50px; line-height:50px; font-weight:bold; text-decoration:none;
	overflow:hidden; white-space:nowrap; text-overflow:ellipsis;
}
.lnb_183742_ .dep1 > li > a { 
	padding:0 15px 0 30px; border-bottom:1px solid #f6cccd; background:#f8e4e6; font-size:15px; color:#3E3A39;
}
.lnb_183742_ .dep1 > li > a:before {
	content:''; display:block; position:absolute; left:20px; top:50%; width:3px; height:3px; margin-top:-1px; background:#3E3A39;
}
.lnb_183742_ .dep2 > li > a {
	padding:0 15px 0 45px; border-bottom:1px solid #e1e2e3; background:#ffffff; font-size:13px; color:#393939;
}

@media (min-width:1024px){
	/* dep1 */
	.lnb_183742_ .dep1:after {content:''; display:block; clear:both;}
	.lnb_183742_ .dep1 > li {float:left; position:relative; z-index:600; width:16.666666666667%;}
	.lnb_183742_ .dep1 > li:hover {z-index:610;}
	.lnb_183742_ .dep1 > li > div {
		display:none; position:absolute; left:0; width:100%; padding:5px 0;
		border-top:3px solid #f4f3f3;}
	}
	.lnb_183742_ .dep1 > li:hover > div {display:block; }
	.lnb_183742_ .dep1 > li > a {
		height:50px; line-height:50px; padding:0 20px;
		border-bottom:none; background:none; color:#3E3A39; text-align:center;
	}
	.lnb_183742_ .dep1 > li.on > a,
	.lnb_183742_ .dep1 > li:hover > a {color:#cdc4a3;  /*background:#f4f3f3;*/}
	.lnb_183742_ .dep1 > li > a:before {display:none;}

	/* dep2 */
       .lnb_183742_ .dep2 { margin-top:1px;  }
	.lnb_183742_ .dep2 > li > a { 
		height:35px; line-height:30px; padding:0 20px;
		border-bottom:none;   background-color:rgba(0, 0, 0, 0.8); color:#ffffff;
	}
	.lnb_183742_ .dep2 > li.on > a,
	.lnb_183742_ .dep2 > li:hover > a { background-color:rgba(51, 51, 51, 0.9); color:#cdc4a3;}

	/* dep1 triangle */
	/*.lnb_183742_ .dep1 > li.has_sub:before,
	.lnb_183742_ .dep1 > li.has_sub:after {
		content:''; display:none; position:absolute; left:50%; margin-left:-8px;
		border-left:8px solid transparent; border-right:8px solid transparent;
	}*/

   


	.lnb_183742_ .dep1 > li.has_sub:before {bottom:0; border-bottom:8px solid #cdc4a3;}
	.lnb_183742_ .dep1 > li.has_sub:after {bottom:-3px; border-bottom:8px solid #000000;}
	.lnb_183742_ .dep1 > li.has_sub:hover:before,
	.lnb_183742_ .dep1 > li.has_sub:hover:after {display:block;}
}

@media \0screen{
	/* dep1 */
	.lnb_183742_ .dep1:after {content:''; display:block; clear:both;}
	.lnb_183742_ .dep1 > li {float:left; position:relative; z-index:600; width:16.666666666667%;}
	.lnb_183742_ .dep1 > li:hover {z-index:610;}
	.lnb_183742_ .dep1 > li > div {
		display:none; position:absolute; left:0; width:100%; padding:5px 0;
		border-top:3px solid #f4f3f3; background:#000000;
	}
	.lnb_183742_ .dep1 > li:hover > div {display:block;}
	.lnb_183742_ .dep1 > li > a { 
		height:50px; line-height:50px; padding:0 20px;
		border-bottom:none; background:none; color:#3E3A39; text-align:center;
	}
	.lnb_183742_ .dep1 > li.on > a,
	.lnb_183742_ .dep1 > li:hover > a {color:#cdc4a3;}
	.lnb_183742_ .dep1 > li > a:before {display:none;}

	/* dep2 */
	.lnb_183742_ .dep2 > li > a {
		height:30px; line-height:30px; padding:0 20px;
		border-bottom:none; background-color:rgba(0, 0, 0, 0.5); color:#ffffff;
	}
	.lnb_183742_ .dep2 > li.on > a,
	.lnb_183742_ .dep2 > li:hover > a { color:#cdc4a3;}

	/* dep1 triangle */
	.lnb_183742_ .dep1 > li.has_sub:before,
	.lnb_183742_ .dep1 > li.has_sub:after {
		content:''; display:none; position:absolute; left:50%; margin-left:-8px;
		border-left:8px solid transparent; border-right:8px solid transparent;
	}
	.lnb_183742_ .dep1 > li.has_sub:before {bottom:0; border-bottom:8px solid #cdc4a3;}
	.lnb_183742_ .dep1 > li.has_sub:after {bottom:-3px; border-bottom:8px solid #000000;}
	.lnb_183742_ .dep1 > li.has_sub:hover:before,
	.lnb_183742_ .dep1 > li.has_sub:hover:after {display:block;}
}

/* ****************** 1移� �젅�씠�븘�썐  ****************** */

.layout_57710_ { background:url(../design/img/sub.jpg)repeat-x 0 0;}
.layout_57710_ > div {clear:both; min-width:320px; max-width:2000px; margin:0 auto;}
.layout_57710_ > div:after {content:''; display:block; clear:both;}
.layout_57710_ > div > [class^=container_] {float:left; position:relative; width:100%; box-sizing:border-box;}

@media \0screen{
	.layout_57710_ {min-width:2000px;}
}

/* ****************** �꽌釉뚰럹�씠吏� �젣紐�  ****************** */

.sub_title_57711_ {position:relative; padding:5px 10px;}
.sub_title_57711_ h1 {height:30px; line-height:30px; margin:0; padding:0; font-size:30px; font-weight:normal; color:#ffffff;}

@media (min-width:1024px){
	.sub_title_57711_ {position:relative; padding:10px;}
	.sub_title_57711_ h1 {font-weight:bold;}
}

@media \0screen{
	.sub_title_57711_ {position:relative; padding:10px;}
	.sub_title_57711_ h1 {font-weight:bold;}
}

/* ****************** 2移� �젅�씠�븘�썐  ****************** */

.layout_57341_ {clear:both; min-width:320px; max-width:1250px; margin:0 auto;}
.layout_57341_ > div {}
.layout_57341_ > div:after {content:''; display:block; clear:both;}
.layout_57341_ > div > [class^=container_] {float:left; position:relative; width:100%;  box-sizing:border-box;}
.layout_57341_ > div > .container_1 {width:20%;}
.layout_57341_ > div > .container_2 {width:80%;}

@media (max-width:1023px){
	.layout_57341_ > div > .container_1 { width:100%; }
	.layout_57341_ > div > .container_2 { width:100%; }
}

@media \0screen{
	.layout_57341_ {min-width:1250px;}
}

/* ****************** �꽌釉� �꽕鍮꾧쾶�씠�뀡  ****************** */

.snb_57715_ h1 {
	height:20px; line-height:20px; margin:0; padding:20px 5px;
	border-bottom:1px solid #777777; font-size:16px; font-weight:bold; text-align:center;
}
.snb_57715_ ul {margin:0; padding:0; list-style:none;}
.snb_57715_ a {
	display:block; text-decoration:none;
	overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
}
.snb_57715_ [role=toggle] > a:before {
	content:''; display:block; position:absolute; width:0; height:0; right:15px; top:50%; margin-top:-2px;
	border-color:#777777 transparent transparent transparent; border-width:5px; border-style:solid;
}
.snb_57715_ [role=toggle].on > a:before,
.snb_57715_ [role=toggle].active > a:before {
	margin-top:-8px;
	border-color:transparent transparent #777777 transparent;
}

.snb_57715_ .dep1 > li > div {display:none;}
.snb_57715_ .dep1 > li > a {
	position:relative; padding:12px 30px 12px 15px;
	border:2px solid transparent; font-size:14px; font-weight:bold; color:#444; 
}
.snb_57715_ .dep1 > li.on > a,
.snb_57715_ .dep1 > li.active > a,
.snb_57715_ .dep1 > li:hover > a {/*border-color:#777777;*/ color:/*#777777*/#fff; background:#3E3A39;} /*硫붾돱�삤踰�*/

.snb_57715_ .dep2 {padding:8px 0; background:#ececec;}
.snb_57715_ .dep2 > li > a {padding:6px 15px; font-size:13px; font-weight:bold; color:#444;}
.snb_57715_ .dep2 > li.on > a,
.snb_57715_ .dep2 > li:hover > a {color:#777777; }

/* ****************** 留덉씠�럹�씠吏� �긽�떒硫붾돱  ****************** */

.mypage_nav_57346_ {padding:10px;}
.mypage_nav_57346_ * {box-sizing:border-box;}
.mypage_nav_57346_ ul {margin:0; padding:0; list-style:none; font-size:0;}
.mypage_nav_57346_ ul:after {content:''; display:block; clear:both;}
.mypage_nav_57346_ li {float:left; width:50%;}
.mypage_nav_57346_ li a {display:block; margin:1px; padding:6px 0; border:1px solid #eee; background:#eee; font-size:13px; font-weight:bold; color:#111; text-align:center; text-decoration:none;}
.mypage_nav_57346_ li.on a {border-color:#d00000; background:#d00000; color:#fff;}

[id^=div_user_list] .mypage_nav_57346_:before {content:'Mypage Navigation'; font-size:13px; color:red;}

@media (min-width:1024px){
	.mypage_nav_57346_ ul {padding-bottom:10px; border-bottom:1px solid #ddd;}
	.mypage_nav_57346_ li {width:auto;}
	.mypage_nav_57346_ li a { padding:8px 25px; }
}
@media \0screen{
	.mypage_nav_57346_ ul {padding-bottom:10px; border-bottom:1px solid #ddd;}
	.mypage_nav_57346_ li {width:auto;}
	.mypage_nav_57346_ li a { padding:8px 25px; }
}

/* ****************** 怨듬갚  ****************** */

.empty_line_57348_ {display:block; width:100%; height:20px; line-height:20px;}

[id^=div_user_list] .empty_line_57348_ {border:1px dotted #f00;}
[id^=div_user_list] .empty_line_57348_:before {content:'怨듬갚 : 20px'; padding:0 15px; font-size:13px; font-weight:normal; color:#f00;}

/* ****************** �븘�씠肄� 踰꾪듉  ****************** */

@font-face {
	font-family: 'icomoon_15051801';
	src:url('../../aramfarm/design/icomoon_15051801/icomoon.eot');
	src:url('../../aramfarm/design/icomoon_15051801/icomoond41d.eot?#iefix') format('embedded-opentype'),
		url('../../aramfarm/design/icomoon_15051801/icomoon.woff') format('woff'),
		url('../../aramfarm/design/icomoon_15051801/icomoon.ttf') format('truetype'),
		url('../../aramfarm/design/icomoon_15051801/icomoon.svg#icomoon_15051801') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon_button_184702_ a  {
	display:inline-block; margin:0; padding:0;
	border:1px solid #c8bfa0; border-radius:0px; background:#c8bfa0; box-sizing:border-box;
	font-size:13px; font-weight:normal; color:#554613; text-align:center; text-decoration:none;
}
.icon_button_184702_.style_line a {background:transparent; color:#c8bfa0;}
.icon_button_184702_.space_normal a {padding:.6em 1.2em;}
.icon_button_184702_.space_wide a {padding:.6em 2em;}
.icon_button_184702_.space_full a {display:block; width:100%; padding:.6em 1.2em;}

.icon_button_184702_ a:before {
	content:'\e626'; font-family:"icomoon_15051801";
	margin-right:10px; font-size:1em; font-weight:normal; color:;
}

/* ****************** 1移� �젅�씠�븘�썐  ****************** */

.layout_57719_ {clear:both; min-width:320px; max-width:1200px; margin:0 auto;}
.layout_57719_ > div:after {content:''; display:block; clear:both;}
.layout_57719_ > div > [class^=container_] {float:left; position:relative; width:100%; box-sizing:border-box;}

@media \0screen{
	.layout_57719_ {min-width:1200px;}
}

/* ****************** �븯�떒 硫붾돱  ****************** */

.fnb_57720_ ul {margin:0; padding:0; list-style:none; font-size:0;}
.fnb_57720_ li {position:relative; display:inline-block; font-size:16px;}
.fnb_57720_ li:before {content:''; display:block; position:absolute; left:0; top:50%; width:1px; height:10px; margin-top:-5px; background-color:#777777; opacity:.5;}
.fnb_57720_ li:first-child:before {display:none;}
.fnb_57720_ li a {display:block; height:30px; line-height:30px; margin:0; padding:0 .8em; font-size:12px; font-family:Arial; color:#777777; text-decoration:none;}
.fnb_57720_ li a:hover {text-decoration:underline;}
.fnb_57720_ p {height:30px; line-height:30px; margin:0; padding:0 .8em; font-family:Arial; font-size:12px; color:#777777}

/* ****************** 1移� �젅�씠�븘�썐  ****************** */

.layout_58202_ {clear:both; min-width:320px; max-width:1000px; margin:0 auto;}
.layout_58202_ > div:after {content:''; display:block; clear:both;}
.layout_58202_ > div > [class^=container_] {float:left; position:relative; width:100%; box-sizing:border-box;}

@media \0screen{
	.layout_58202_ {min-width:1000px;}
}

/* ****************** �븯�떒 �젙蹂�  ****************** */

.footer_info_58201_ {padding:0 10px;}
.footer_info_58201_ ul {margin:0; padding:0; list-style:none; font-size:0;}
.footer_info_58201_ li {position:relative; display:inline-block; padding:0 .8em; font-size:12px; font-family:Arial; color:#eeeeee; line-height:22px;}
.footer_info_58201_ li:before {content:''; display:block; position:absolute; left:0; top:50%; width:1px; height:10px; margin-top:-5px; background-color:#eeeeee; opacity:.5;}
.footer_info_58201_ li:first-child {padding-left:0;}
.footer_info_58201_ li:first-child:before {display:none;}
.footer_info_58201_ li .bizinfo {display:inline-block; margin-left:.8em; padding:0 .5em; border-radius:2px; background:#666; font-size:12px; color:#fff; line-height:20px; text-decoration:none;}

/* ****************** 1移� �젅�씠�븘�썐  ****************** */

.layout_183739_ {clear:both; min-width:320px; max-width:1200px; margin:0 auto;}
.layout_183739_ > div:after {content:''; display:block; clear:both;}
.layout_183739_ > div > [class^=container_] {float:left; position:relative; width:100%; box-sizing:border-box;}

@media \0screen{
	.layout_183739_ {min-width:1200px;}
}

/* ****************** �븯�떒 �젙蹂�  ****************** */

.footer_info_183740_ {padding:0 10px;}
.footer_info_183740_ ul {margin:0; padding:0; list-style:none; font-size:0;}
.footer_info_183740_ li {position:relative; display:inline-block; padding:0 .8em; font-size:12px; font-family:Arial; color:#eeeeee; line-height:22px;}
.footer_info_183740_ li:before {content:''; display:block; position:absolute; left:0; top:50%; width:1px; height:10px; margin-top:-5px; background-color:#eeeeee; opacity:.5;}
.footer_info_183740_ li:first-child {padding-left:0;}
.footer_info_183740_ li:first-child:before {display:none;}
.footer_info_183740_ li .bizinfo {display:inline-block; margin-left:.8em; padding:0 .5em; border-radius:2px; background:#666; font-size:12px; color:#fff; line-height:20px; text-decoration:none;}

/* ****************** �긽�떒�쑝濡� 諛붾줈媛�湲� 踰꾪듉  ****************** */

@font-face {
	font-family: 'icomoon_contents';
	src:url('../../aramfarm/design/icomoon_contents/icomoon.eot');
	src:url('../../aramfarm/design/icomoon_contents/icomoond41d.eot?#iefix') format('embedded-opentype'),
		url('../../aramfarm/design/icomoon_contents/icomoon.woff') format('woff'),
		url('../../aramfarm/design/icomoon_contents/icomoon.ttf') format('truetype'),
		url('../../aramfarm/design/icomoon_contents/icomoon.svg#icomoon_contents') format('svg');
	font-weight: normal;
	font-style: normal;
}
.scroll_top_57356_ {
	position:fixed; bottom:10px; right:-70px; width:30px; height:30px; line-height:30px;
	border:1px solid #878787; background:#878787;
	font-size:0; color:#fff; text-align:center; cursor:pointer; opacity:.6;
	-webkit-transition:right .3s ease-out;
	-moz-transition:right .3s ease-out;
	-o-transition:right .3s ease-out;
	-ms-transition:right .3s ease-out;
	transition:right .3s ease-out;
}
.scroll_top_57356_.on {right:10px;}
.scroll_top_57356_ span:before {content:'\e601'; font-family:"icomoon_contents"; font-size:15px;}

[id^=div_user_list] .scroll_top_57356_ {position:relative; right:0; opacity:1;}

@media (min-width:1024px){
	.scroll_top_57356_:hover {opacity:1;}
	.scroll_top_57356_ {width:40px; height:40px; line-height:40px;}
	.scroll_top_57356_ span:before {font-size:20px;}
}

@media \0screen{
	.scroll_top_57356_:hover {opacity:1;}
	.scroll_top_57356_ {width:40px; height:40px; line-height:40px;}
	.scroll_top_57356_ span:before {font-size:20px;}
}
